{namespace brkn.hovercard}

/**
 * The base dom for the hovercard
 */
{template .base}
  <div class="hovercard" id="hovercard" style="visibility: hidden; display: none;">
    <div class="content"></div>
    <div id="tailarrow"></div>
  </div>
{/template}