{
  'id': 'main',
  'paths': '.',
  'inputs': 'main.js',
  'externs': [
    'externs.js',
    '//facebook_javascript_sdk.js',
    '//jquery-1.6.js',
    '//google_analytics_api.js'
  ],
  'mode': 'SIMPLE',
  'level': 'QUIET',
  'debug': true,
  'pretty-print': true,
  'output-file': '../static/js/main-debug.js',
  'define': {
    'goog.DEBUG': true
  }
}