{
  'id': 'brokentv',
  'paths': '.',
  'inputs': 'main.js',
  'externs': [
    'externs.js',
    '//facebook_javascript_sdk.js',
    '//jquery-1.6.js',
    '//google_analytics_api.js'
  ],
  'mode': 'ADVANCED',
  'level': 'QUIET',
  'debug': false,
  'pretty-print': false,
  'output-file': '../static/js/brkn-min.js',
  'define': {
    'goog.DEBUG': false
  }
}