{namespace brkn.search}

/**
 * @param media
 */
{template .media}
  <div class="search-media">
    <div class="pic">
      <img src="{$media.thumbnail}">
    </div>
    <div class="title">{$media.name}</div>
    <div class="options">
      <div class="play"></div>
      <div class="plus"></div>
    </div>
  </div>
{/template}