{namespace brkn.search}

/**
 * @param name
 * @param thumb
 */
{template .channel}
  <div class="search-channel">
    <div class="pic">
      <img src="{$thumb}">
    </div>
    <div class="title">{$name}</div>
    <div class="loading loading-channel"><div class="loading-spinner"></div></div>
  </div>
{/template}