div#sidebar div.admin {
  margin-top: -2px;
  display: none;
  div.search {
    background: #f5f5f5;
    width: 100%;
    height: 35px;
    input[type=text] {
      height: auto;
      border-radius: 3px;
      width: 280px;
      font-size: 13px;
      min-height: 16px;
      outline: none;
      border: 1px solid #CCC;
      resize: none;
      margin-left: 10px;
      margin-top: 7px;
      margin-bottom: 5px;
    }
  }
  div.label {
    font-size: 11px;
    color: #f5f5f5;
    margin-bottom: 7px;
  }
  div.section {
    position: relative;
    margin: 10px;
  } 
  div.collections {
    div.collection {
      position: relative;
      width: 99%;
      border-radius: 3px;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%,
          from(rgba(153, 153, 153, 0.9)), to(rgba(99, 99, 99, 0.9)));
      border: 1px solid #888;
      padding-bottom: 20px;
      overflow: hidden;
      margin-bottom: 5px;
      font-size: 13px;
      div.title {
        position: relative;
        left: 5px;
        top: 5px;
        font-size: 13px;
        width: 240px;
      }
    }
  }
}
div#sidebar div#admin-list {
  overflow-y: scroll !important;
  div.list-info {
    margin: 10px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 280px;
  
    > div {
      display: none;
      vertical-align: top;
    }
    div.picture{
      width: 60px;
      img {
        width: 60px;
        height: 60px;
        box-shadow: 0 0 2px 1px rgba(255, 255, 255, .3), 0 0 1px 2px rgba(0, 0, 0, 0.7);
        border-radius: 3px;
      }
    }
    div.description {
      font-size: 12px;
      padding-left: 10px;
    }
  }
  div.label {
    font-size: 10px;
    color: #B8B8B8;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 7px;
    text-shadow: 1px 1px 1px black;
    font-family: MuseoSans700;
  }
  div.medias {
    padding-bottom: 15px;
    margin: 10px;
  }
  div.admin-media {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #888;
    margin-bottom: 10px;
    border-radius: 3px; 
    position: relative;
    &.remove {
      opacity: 0;
      .transition(opacity, .3s, ease);
    }
    &:hover div.thumb, &.playing div.thumb {
      .transition(opacity, .6s, ease);
      opacity: 1;
    }
    &:hover div.title, &:hover div.published {
      color: #f5f5f5;
      text-shadow: 0px 0px 4px black;
    }
    &:hover div.approve, &:hover div.remove, &:hover div.repos, &:hover div.play {
      filter: invert(100%);
      -webkit-filter: invert(100%);
      -moz-filter: invert(100%);
      -o-filter: invert(100%);
      -ms-filter: invert(100%);
    }
    div.thumb {
      width: 100%;
      height: 100%;
      opacity: .2;
      background-size: 150% auto;
      background-position: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    div.title {
      left: 5px;
      top: 5px;
      color: #181818;
      text-shadow: 1px 1px 1px white;
      height: 30px;
      font-size: 14px;
      position: absolute;
      overflow: hidden;
      margin-right: 55px;
      &.marquee {
        .transition(margin-left, 10s, linear);
      }
    }
    div.published {
      position: absolute;
      bottom: 3px;
      font-size: 11px;
      color: #181818;
      left: 5px;
    }
  }
  div.media {
    white-space: normal;
    overflow: hidden;
    vertical-align: middle;
    height: 50px;
    color: #999;
    text-shadow: 1px 1px 1px white;
    margin-top: -1px;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .transition(all, .3s, ease);
    div.preview {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      background: #f5f5f5;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-top: 1px;
      div.approve {
        position: absolute;
        right: 25px;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url(/static/img/39-circle-check.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
      div.remove {
        position: absolute;
        right: 5px;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url(/static/img/31-circle-x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        filter: invert(100%);
      }
      div.repos {
        position: absolute;
        right: 5px;
        bottom: 3px;
        width: 20px;
        height: 20px;
        background-image: url(/static/img/repos.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
      div.play {
        position: absolute;
        right: 45px;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url(/static/img/36-circle-play.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
    }
    &:hover div.title {
      color: #f5f5f5;
      text-shadow: 0px 0px 4px black;
    }
  } 
  div.publisher {
    left: 10px;
    top: 10px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: 3px;
    margin-bottom: 5px;
    img {
      width: 22px;
      height: 22px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      vertical-align: top;
      border: 1px solid transparent;
    }
    div.name {
      font-size: 11px;
      line-height: 3px;
      margin: 0 5px;
      display: inline-block;
    }
  }
  div.duration {
    position: absolute;
    right: 3px;
    top: 50px;
  }
  div.description, div.duration {
    font-size: 11px;
    margin: 3px;
  }
}