@import "functions.less";
@import "buttons.less";
@import "images.less";

@font-face {
  font-family: 'MuseoSans100';
  src: url('/static/webfonts/museosans/100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans300';
  src: url('/static/webfonts/museosans/300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans500';
  src: url('/static/webfonts/museosans/500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans700';
  src: url('/static/webfonts/museosans/700.woff') format('woff');
}

html, body {
  background: #f5f5f5 url(/static/img/content-texture.png);
  margin: 0;
  font-family: MuseoSans300;
  font-size: 12px;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: MuseoSans300;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px 1px #181818;
  &:hover {
    text-decoration: underline;
  }
}

div#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #5c5c5c @grad;
  .box-shadow(e('inset 0 -3px 7px -3px rgba(0,0,0,0.2), 0 0 5px 0 rgba(0, 0, 0, .5)'));
  z-index: 9999;
  div.logo {
    position: absolute;
    left: 0;
    font-family: MuseoSans700;
    font-size: 16px;
    color: #f5f5f5;
    margin: 10px;
    text-shadow: 1px 1px 1px #181818;
    span {
      font-family: MuseoSans100;
    }
  }
  div.sections {
    margin: auto;
    width: 880px;
    div.section {
      text-align: center;
      color: #dedede;
      display: inline-block;
      width: 90px;
      height: 100%;
      line-height: 40px;
      font-family: MuseoSans500;
      font-size: 11px;
      margin-right: -3px;
      border-left: 1px solid #bbb;
      cursor: pointer;
      &:last-child {
        border-right: 1px solid #bbb;
      }
      &.selected {
        background: #5c5c5c;
        cursor: default;
      }
    }
  }
}

div#content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  
  >div {
    display: none;
  }
  &.users div.users, &.launch div.launch, &.stats div.stats, &.channels div.channels {
    display: block;
  }
  div#launch {
    margin: 10px auto;
    margin-top: 50px;
    width: 1000px;
    height: 300px;
    div.button {
      width: 100px;
      margin-left: -4px;
      &:first-child {
        margin-left: 0;
      }
    }
    .label {
      margin: 10px 0;
      font-size: 12px;
      font-family: MuseoSans700;  
    }
  }
  div#stats {
    margin: auto;
    width: 1200px;
    margin-top: 80px;
  }
  div#users {
    margin: 10px auto;
    margin-top: 50px;
    width: 1000px;
    div.header {
      font-size: 11px;
      position: relative;
      height: 45px;
      margin-left: 10px;
      .pic, .access {
        top: 18px;
      }
    }
    div.user-list {
      .box-shadow(e('inset 0 0 2px 1px rgba(0, 0, 0, .3)'));
      margin: 0 10px;
      .border-radius(3px);
    }
    div.load-more {
      position: relative;
      left: 50%;
      border: 1px solid #999;
      display: inline-block;
      padding: 5px;
      width: 70px;
      text-align: center;
      margin-left: -35px;
      cursor: pointer;
      margin-top: 10px;
      &:hover {
        background: rgba(0, 0, 0, .2);
      }
    }
    div.user {
      background: rgba(0, 0, 0, .5);
      border-bottom: 1px solid rgba(0, 0, 0, .3);
      height: 50px;
      position: relative;
      color: white;
      text-shadow: 1px 1px 1px #181818;
      &:last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom: none;
      }
      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
      }
    }
    .pic {
      position: absolute;
      top: 5px;
      left: 5px;
      img {
        width: 40px;
        height: 40px;
        .border-radius(3px);
        .box-shadow(0, 0, 1px, 1px, rgba(0, 0, 0, .4));
      }
    }
    .name {
      position: absolute;
      top: 18px;
      left: 55px;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .access {
      position: absolute;
      left: 210px;
      top: 11px;
    }
    .location {
      position: absolute;
      left: 390px;
      top: 18px;
    }
    .last-login {
      position: absolute;
      left: 550px;
      top: 18px;
    }
    .session-count {
      position: absolute;
      left: 700px;
      top: 18px;
    }
    .ave-session {
      position: absolute;
      left: 800px;
      top: 18px;
    }
    .demo {
      position: absolute;
      left: 900px;
      top: 18px;
      &.button {
        top: 12px;
      }
    }
  }
  div.button {
    .border-radius(0);
    margin-left: -1px;
    width: 50px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    border-color: #181818;
    background: rgba(0, 0, 0, .4);
    .border-radius(3px);
    &.selected {
      background-color: #111;
      .box-shadow(inset, 0, 0, 1px, 1px, #000);
      color: #ddd;
    }
  }
  div.controls {
    display: inline-block;
    div.button {
      .border-radius(0);
      &.selected {
        pointer-events: none;
        cursor: default;
      }
    }
    >div:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
    }
    >div:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      margin-left: 0;
    }
  }
}


