div.controller {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  z-index: 100;
  background: transparent @grad-window;
	border-top: 1px solid #ccc;
	pointer-events: none;
	.box-shadow(e('inset 0 -3px 7px -3px rgba(0,0,0,0.2), 0 0 5px 0 rgba(0, 0, 0, .5)'));
	/*.transition(width, .5s, ease);*/
  
  &.sidebar-toggled {
    div.right {
      .transform(e('translate3d(-320px,0,0)'));
    }
  }
  
  &.window {
    div.background {
      opacity: 0;
      .transition(opacity, .3s, ease);
      pointer-events: none;
    }
    div.left div.border, div.right div.border {
      display: block;
    }
  }
  
  div.background {
    opacity: 1;
    background: #5c5c5c @grad;
    pointer-events: all;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
    
  div.left {
    background: #5c5c5c @grad;
    display: inline-block;
    position: relative;
    width: 203px;
    height: 100%;
    pointer-events: all;
    div.border {
      display: none;
      width: 6px;
      height: 100%;
      background: @grad-window-left;
      position: absolute;
      right: -6px;
      top: 0;
    }
  }
  
  div.right {
    background: #5c5c5c @grad;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: all;
    /*.transition(width, .5s, ease);*/
    .transition-duration(500ms);
    .transform(e('translate3d(0,0,0)'));
    div.border {
      display: none;
      width: 6px;
      height: 100%;
      background: @grad-window-right;
      position: absolute;
      left: -6px;
      top: 0;
    }
  }
	
	div.progress {
	  width: 100%;
    height: 4px;
    background: #f5f5f5;
    .box-shadow(e('inset 0 -1px 1px 0 #ccc, 0 0 2px 1px rgba(88, 88, 88, 0.3)'));
    position: absolute;
    top: 27px;
    pointer-events: all;
    left: 205px;
    cursor: pointer;
    .border-radius(300px);
    .transition(width, .5s, ease);

    &.drag {
      div.elapsed, div.seek {
        .transition(e('none !important'));
      }
    }

    div.elapsed {
      position: absolute;
      left: 0;
      width: 0;
      height: 4px;
      background: #497882;
      .box-shadow(e('inset 0 -1px 1px 0 rgba(255,255,255,.2)'));
      .border-radius(300px);
      &.animate {
        .transition(width, 1s, linear);
      }
    }
  	div.seek {
  	  position: absolute;
      bottom: 0px;
      width: 1px;
      height: 4px;
      background: #497882;
      opacity: 0.9;
      right: 0;
      cursor: pointer;
      .box-shadow(e('0px 0 6px 2px rgba(255,255,255,0.2)'));
  	}
  	div.title {
  	  position: absolute;
      left: 0;
      top: -18px;
      font-size: 11px;
      font-family: MuseoSans300;
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
  	}
  	div.current-time {
      position: absolute;
      right: 40px;
      top: -18px;
      font-size: 11px;
      font-family: MuseoSans300;
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #666;
    }
  	div.duration {
  	  position: absolute;
  	  right: 0;
  	  top: -18px;
  	  font-size: 11px;
  	  font-family: MuseoSans300;
  	  color: #f5f5f5;
  	  text-shadow: 1px 1px 1px #666;
  	}
	}
	&:hover div.progress div.seek {
    .transition(all, .3s, ease);
    opacity: 1;
    width: 10px;
    height: 10px;
    .border-radius(10px);
    bottom: -3px;
    right: -3px;
    margin-left: -4px;
    .box-shadow(e('0px 0px 1px 1px rgba(255,255,255,.9)'));
    z-index: 2;
  }
	
	div.button.guide-toggle {
	  position: absolute;
	  top: 4px;
		width: 55px;
		height: 25px;
		left: 5px;
		line-height: 29px;
		font-size: 11px;
		font-family: MuseoSans700;
	}
	div.button.sidebar-toggle {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 35px;
		height: 25px;
    .icon {
      .icon-menu();
      margin: 2px 0 0 1px;
      font-size: 20px;
    }
  }
  div.button.info-toggle {
    position: absolute;
    right: 50px;
    top: 4px;
    width: 35px;
    height: 25px;
    .icon {
      .icon-info();
      margin: 2px 0 0 0;
      font-size: 19px;
    }
  }
  div.button.admin-toggle {
    position: absolute;
    right: 50px;
    top: 4px;
    width: 35px;
    height: 25px;
    .icon {
      .icon-admin();
      margin: 2px 0 0 1px;
      font-size: 20px;
    }
    div.pending {
      height: 13px;
      background: red;
      color: white;
      position: absolute;
      top: -3px;
      right: -3px;
      .border-radius(3px);
      font-size: 10px;
      text-align: center;
      line-height: 14px;
      border: 1px solid #460000;
      padding: 0 3px;
    }
  }
	div.controls {
	  position: absolute;
	  left: 80px;
	  top: 4px;
	  div.button {
	    .border-radius(0);
	    margin-left: -1px;
	    width: 35px;
	    height: 25px;
	    background-repeat: no-repeat;
			background-position: center;
			vertical-align: top;
	  }
	  div.button:last-child {
	    border-top-right-radius: 3px;
	    border-bottom-right-radius: 3px;
	    -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
	  }
	  div.button:first-child {
	    border-top-left-radius: 3px;
	    border-bottom-left-radius: 3px;
	    -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
	  }
	  div.restart .icon {
	    .icon-ccw();
	    font-size: 16px;
	    opacity: .9;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	    margin: 4px 0 0 0;
	  }
	  div.play {
	    .icon {
	      .icon-pause();
	      font-size: 17px;
	      opacity: .9;
	      text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	      margin: 4px 0 0 2px;
	    }
	    &.goog-custom-button-checked {
	      background-color: transparent;
	      .box-shadow(e('inset 0 0 1px rgba(255,255,255,.1), 0 0 1px rgba(255,255,255,.5)'));
	      .icon {
	        color: #f5f5f5;
	        .icon-play();
	        opacity: .9;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	        font-size: 17px;
	        margin: 4px 0 0 2px;
	      }
	    }
	  }
	  div.volume {
	    .icon {
	      .icon-volume-up();
	      font-size: 17px;
	      opacity: .9;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	      margin: 4px 0 0 1px;
	    }
	    &.mute .icon, &.goog-custom-button-checked .icon {
	      .icon-volume-down();
        font-size: 17px;
        opacity: .9;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
        margin: 4px 0 0 2px;
	    }
	  }
	}
}