.noselect () {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-text () {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.grab () {
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
  cursor: url(/static/img/openhand.cur);
}

.grabbing () {
  cursor:grabbing !important;
  cursor:-moz-grabbing !important;
  cursor:-webkit-grabbing !important;
  cursor: url(/static/img/closedhand.cur) !important;
}

.scroll-y () {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.box-shadow (...) {
  -webkit-box-shadow: @arguments;
     -moz-box-shadow: @arguments;
          box-shadow: @arguments;
}

.border-radius (...) {
  -webkit-border-radius: @arguments;
  -moz-border-radius: @arguments;
  border-radius: @arguments;
}

.animation (...) {
  animation: @arguments;
  -moz-animation: @arguments; /* Firefox */
  -webkit-animation: @arguments; /* Safari and Chrome */
  -o-animation: @arguments; /* Opera */
}

.transition (...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
       -o-transition: @arguments;
      -ms-transition: @arguments;
          transition: @arguments;
}

.ios-accel () {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.transform (...) {
  transform:@arguments;
  -ms-transform:@arguments;
  -moz-transform:@arguments;
  -webkit-transform:@arguments;
  -o-transform:@arguments;
  
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.transition-duration (...) {
  transition-duration:@arguments;
  -moz-transition-duration:@arguments; /* Firefox 4 */
  -webkit-transition-duration:@arguments; /* Safari and Chrome */
  -o-transition-duration:@arguments; /* Opera */
}

.alternate () {
  animation-direction:alternate;
  -moz-animation-direction:alternate; /* Firefox */
  -webkit-animation-direction:alternate; /* Safari and Chrome */
  -o-animation-direction:alternate; /* Opera */
}