 @name-width: 145px;

div#guide {
  position: absolute;
  bottom: 40px;
  height: 0px;
  overflow: hidden;
  background: #f7f7f7;
  width: 100%;
  color: #ccc;
  -webkit-transition: height .5s ease, opacity .5s ease;
     -moz-transition: height .5s ease, opacity .5s ease;
          transition: height .5s ease, opacity .5s ease;
  
  &.toggled {
    height: 230px;
  }
  &.admin {
    div.remove {
      display: block !important;
    }
  }
  &.faded {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  div.header {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    font-size: 10px;
    background: white -webkit-gradient(linear, 0% 0%, 0% 100%,
		    from(rgba(45, 52, 70, .55)),to(rgba(45, 52, 70, .8)));
		border-top: 1px solid #ccc;
		-webkit-box-shadow: inset 0 -3px 7px -3px rgba(0,0,0,0.2), 0 0 5px 1px rgba(0, 0, 0, .6);
		   -moz-box-shadow: inset 0 -3px 7px -3px rgba(0,0,0,0.2), 0 0 5px 1px rgba(0, 0, 0, .6);
			  		box-shadow: inset 0 -3px 7px -3px rgba(0,0,0,0.2), 0 0 5px 1px rgba(0, 0, 0, .6);
    div.name {
      width: 10%;
      min-width: 60px;
      border-right: 1px solid #ccc;
      text-align: center;
      padding: 5px 0;
      display: inline-block;
      border-top: 1px solid #181818;
    }
    div.times {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      margin-left: @name-width;
      div.time {
        display: inline-block;
        padding: 5px 0;
      }
    }
    div.ticker {
      position: absolute;
      background: url(/static/img/ticker.png) no-repeat;
      width: 16px;
      height: 26px;
      background-size: 100%;
      -webkit-transition: left 1s;
	       -moz-transition: left 1s;
	            transition: left 1s;
    }
  }
  div.channels {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    height: 210px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
    div.channel {
      border-bottom: 1px solid #ccc;
      position: relative;
      background: #f7f7f7;
      div.name {
        width: @name-width;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: top;
        background: black;
        opacity: .8;
        margin-right: 1px solid #888;
        box-shadow: 1px 0 3px rgba(0, 0, 0, .8);
        z-index: 1;
        div.text {
          position: relative;
          top: 50%;
          line-height: 0;
          color: whiteSmoke;
          text-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
          font-size: 15px;
        }
        div.suggest-program {
	       padding: 5px 0; 
	       display: inline-block;
	       position: absolute;
	       left: 5px;
	       top: 10px;
	      }
      }
      div.add-program {
        display: inline-block;
        width: 25px;
        font-size: 16px;
        display: none;
      }
      div.programming {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 100%;
      }
      div.programs-container {
        height: 80px;
      }
      div.programs {
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        height: 80px;
        min-width: 540px;
        position: relative;
        vertical-align: top;
        margin-bottom: 4px;
        margin-left: 10px;
        margin-top: 6px;
        div.program {
          display: inline-block;
          position: absolute;
					white-space: normal;
					overflow: hidden;
					border-left: 1px solid #CCC;
					vertical-align: middle;
					height: 100%;
					color: #999;
					text-shadow: 1px 1px 1px white;
					z-index: 0;
					border-radius: 3px;
					box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
          border: 1px solid whiteSmoke;
					.transition(all, .3s, ease);
					&.clipped:hover {
					  z-index: 1;
					  width: 200px !important;
					}
					&:hover img, &.playing img {
					 -webkit-transition: opacity .6s ease, top 4s ease-out, left 4s ease-out;
              -moz-transition: opacity .6s ease, top 4s ease-out, left 4s ease-out;
                -o-transition: opacity .6s ease, top 4s ease-out, left 4s ease-out;
               -ms-transition: opacity .6s ease, top 4s ease-out, left 4s ease-out;
                   transition: opacity .6s ease, top 4s ease-out, left 4s ease-out;
            -webkit-filter: none !important;
            opacity: 1;
          }
          &:hover img.pan-left {
            left: 0%;
          }
          &:hover img.pan-top {
            top: 100%
          }
          &:hover div.title {
            display: block !important;
          }
          &:hover div.title, &.playing div.title {
            color: #f5f5f5;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .6), -1px -1px 1px rgba(0, 0, 0, .6),
                -1px 1px 1px rgba(0, 0, 0, .6), 1px -1px 1px rgba(0, 0, 0, .6);
          }
          &.playing div.progress {
            /* display: block; */
          }
					&:last-child {
					  border-right: 1px solid #CCC;
					}
					div.info {
					  display: inline-block;
					  width: 100%;
					  height: 100%;
					  /*box-shadow: inset 0px 15px 30px -1px rgba(0, 0, 0, .9);*/
					}
					&:hover div.thumb, &.playing div.thumb {
           -webkit-transition: opacity .6s ease, background-position 4s ease-out;
              -moz-transition: opacity .6s ease, background-position 4s ease-out;
                -o-transition: opacity .6s ease, background-position 4s ease-out;
               -ms-transition: opacity .6s ease, background-position 4s ease-out;
                   transition: opacity .6s ease, background-position 4s ease-out;
            -webkit-filter: none !important;
            opacity: 1;
          }
          &:hover div.thumb.pan-left {
            background-position-x: 30% !important;
          }
          &:hover div.thumb.pan-top {
            background-position-y: 70% !important;
          }
					div.thumb {
					  width: 100%;
					  height: 100%;
					  opacity: .2;
					  background-size: 150% auto;
					  background-position: center;
					  &.fix-height {
              background-size: auto 100%;
            }
					}
					img {
					  width: 100%;
					  height: auto;
					  position: absolute;
						opacity: .2;
						top: 50%;
						left: 50%;
						margin-top: -20px;
						z-index: -10;
						-webkit-filter: blur(1px) grayscale();
						&.fix-height {
						  height: 150%;
              width: auto;
						}
					}
					div.progress {
					  display: none;
					  width: 0;
					  height: 100%;
					  background: rgba(218, 218, 218, .8);
					  position: absolute;
					  margin-top: -10px;
					  border-right: 2px solid #5d5d5d;
					}
					div.title {
					  left: 5px;
						top: 5px;
            color: #3d3d3d;
            text-shadow: 1px 1px 1px white;
						height: 40px;
						font-size: 14px;
						position: absolute;
						white-space: nowrap;
						overflow: hidden;
						padding-right: 25px;
						&.marquee {
						  .transition(margin-left, 10s, linear);
						}
					}
	        &.current {
	          background: rgba(255, 255, 255, .3);
	        }
	        div.remove {
	          display: none;
	          position: absolute;
	          background: url(/static/img/11-x.png) no-repeat;
            background-size: 100%;
	          top: 5px;
	          right: 5px;
	          width: 10px;
	          height: 10px;
	          font-size: 12px;
	        }
	        div.border {
	          position: absolute;
	          width: 98%;
	          height: 98%;
	          left: -1%;
	          top: -1%;
	          border-radius: 16px;
	          border: 8px solid #f5f5f5;
	        }
        }
      }
      div.graph {
        display: inline-block;
	      width: 100%;
	      position: relative;
	      pointer-events: none;
	      z-index: 1;
	      margin-bottom: 1px;
	      opacity: 0;
	      visibility: hidden;
	      .transition(opacity, .3s, ease);
	      svg {
	        top: 5px;
	      }
      }
      &:hover div.graph {
        opacity: 1;
        visibility: visible;
      }
    	div.viewers {
	      width: 100%;
	      position: absolute;
	      bottom: 10px;
	      z-index: 1;
	      -webkit-transition: height .3s;
			     -moz-transition: height .3s;
			          transition: height .3s;
	      div.viewer {
	        position: relative;
	        margin-left: 6px;
	        height: 25px;
	        -webkit-transition: width 1s;
			       -moz-transition: width 1s;
			            transition: width 1s;
	        div.line {
	          position: absolute;
	          height: 4px;
	        	background: #ccc;
	        	top: 11px;
	        	width: 100%;
	        	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
	          &::before {
		          content: '';
		          position: absolute;
		          left: -7px;
		          top: -5px;
		          width: 13px;
		          height: 13px;
		          border-radius: 10px;
		          background: inherit;
		          box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
		        }
		        &::after {
		          content: '';
		          position: absolute;
		          left: -3px;
		          top: -1px;
		          width: 5px;
		          height: 5px;
		          border-radius: 10px;
		          background: white;
		        }
		        div.pic {
		          background: inherit;
							width: 25px;
							height: 25px;
							border-radius: 10px;
							right: -12px;
							top: -10px;
							box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
							position: absolute;
							img {
			          width: 21px;
			          height: 20px;
			          margin-left: 2px;
			          margin-top: 2px;
			          border-radius: 10px;
			        }
		        }
	        }
	        div.username {
	          position: absolute;
	          left: 10px;
	          top: 3px;
	        }
	      }
	    }
	  }
	  .current div.name {
      background: #181818 !important;
      box-shadow: 1px 0 3px rgba(0, 0, 0, 0.8), -3px 0px 3px 3px rgba(105, 105, 105, 0.8) !important;
      z-index: 2 !important;
    }
  }
  .current div.program, div.program:hover {
    opacity: 1 !important;
  }
  .current div.program img {
    -webkit-filter: blur(1px) !important;
  }
}