div#sidebar div.info {
  margin-top: -2px;
  div.picture {
    display: inline-block;
    width: 300px;
    height: 199px;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    /*box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8); */
    border-bottom: 1px solid #181818;
    box-shadow: 0 0 2px 2px rgba(77, 77, 77, 0.7), 0 0 1px #5e5e5e;
    img.thumb {
      width: 100%;
      height: auto;
      position: absolute;
      opacity: .5;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      pointer-events: none;
      /* -webkit-filter: grayscale() brightness(40%); */
      &.fix-height {
        height: 150%;
        width: auto;
      }
    }
    div.publisher {
      left: 9px;
      top: 10px;
      background: rgba(0, 0, 0, .6);
      display: inline-block;
      border-radius: 3px;
      position: absolute;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: top;
        border: 1px solid transparent;
      }
      div.name {
        color: #f5f5f5;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        font-size: 11px;
        font-family: MuseoSans500;
        line-height: 3px;
        margin: 0 5px 0 2px;
        display: inline-block;
      }
    }
    &.scrolled div.publisher {
      pointer-events: none;
    }
  }
  img.thumb {
    height: 70px;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(255, 255, 255, .9);
    border: 0px solid whiteSmoke;
    left: 10px;
    top: 30px;
  }
  div.label {
    font-size: 10px;
    color: #181818;
    margin-bottom: 7px;
    text-shadow: 1px 1px 1px white;
    font-family: MuseoSans700;
  }
  div.scrollable {
    height: 200px;
    overflow-y: scroll;
  }
  div.title {
    position: absolute;
    left: 9px;
    top: 40px;
    padding-right: 10px;
    color: whiteSmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: MuseoSans100;
    width: 230px;
    overflow: hidden;
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
    padding: 5px;
    pointer-events: none;
  }
  div.desc-link {
    a {
      font-size: 10px;
      color: #181818;
      text-shadow: 1px 1px 1px white;
      font-family: MuseoSans700;
    }
    position: relative;
    width: 240px;
    margin-top: 180px;
    font-size: 12px;
    margin-left: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid #181818;
  }
  div.description {
    width: 240px;
    min-height: 150px;
    position: relative;
    margin-right: 5px;
    padding: 8px 10px;
    color: #181818;
    text-shadow: none;
    line-height: 18px;
    font-family: MuseoSans300;
    font-size: 12px;
  }
  div.published {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,.7);
    line-height: 18px;
    font-family: MuseoSans500;
    font-size: 10px;
  }
  div.options {
    position: absolute;
    top: 2px;
    right: -2px;
    box-shadow: -1px 0 1px 0px rgba(200, 200, 200, 0.6);
    div.button {
      display: block;
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid rgba(45, 52, 70, 0.4);
      border-radius: 0;
      box-shadow: inset 0 0 1px 1px rgba(140, 140, 140, 0.70), 0 0 1px #5e5e5e;
      margin-top: -1px;
      width: 40px;
      height: 33px;
      background-repeat: no-repeat;
      background-position: center;
      &:active, &.goog-custom-button-active, &.goog-custom-button-disabled,
      &.goog-custom-button-checked {
        background-color: rgba(80, 80, 80, 0.6);
      }
    }
    div.play {
      background-image: url(/static/img/16-play@2x.png);
      background-size: auto 30%;
    }
    div.plus {
      background-image: url(/static/img/13-plus@2x.png);
      background-size: auto 30%;
    }
    div.star {
      background-image: url(/static/img/28-star@2x.png);
      background-size: auto 30%;
      &.goog-custom-button-checked {
        background-image: url(/static/img/28-star-yellow@2x.png);
      }
    }
    div.facebook {
      background-image: url(/static/img/facebook.png);
      background-size: auto 40%;
    }
    div.twitter {
      background-image: url(/static/img/twitter.png);
      background-size: auto 30%; 
    }
  }
  /*
  div.description {
    margin-top: 1px;
    width: 280px;
    max-height: 60px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    margin-right: 5px;
    padding: 8px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(24, 24, 24, 0.6);
    box-shadow: inset 0 -1px 0px 0px rgb(85, 85, 85), inset -1px -2px 0px -1px #5e5e5e,
        0px 1px 0px 1px rgba(200, 200, 200, 0.7);
    line-height: 18px;
    font-family: MuseoSans100;
    font-size: 12px;
  }
  */
  div.viewers {
    position: relative;
    top: 10px;
    left: 9px;
    padding-right: 9px;
    width: 280px;
    div.viewer {
      background: #ccc;
      width: 25px;
      height: 25px;
      border-radius: 10px;
      box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
      display: inline-block;
      margin-left: 9px;
      cursor: pointer;
      img {
        width: 21px;
        height: 20px;
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 10px;
      }
    }
  }
  div.tweet-holder {
    position: relative;
    top: 20px;
    width: 300px;
    div.label {
      margin-left: 10px;
    }
    div.tweets {
      white-space: nowrap;
      overflow: hidden;
    }
    div.tweet {
      position: relative;
      width: 280px;
      white-space: normal;
      display: inline-block;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #333;
      margin: 0 9px;
      padding-bottom: 20px;
      overflow: hidden;
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, .8);
      vertical-align: middle;
      img {
        width: 28px;
        height: 28px;
        left: 4px;
        top: 4px;
        position: absolute;
        border-radius: 3px;
      }
      div.text {
        a {
          color: #f5f5f5;
        }
        position: relative;
        left: 37px;
        top: 3px;
        font-size: 13px;
        line-height: 16px;
        width: 240px;
      }
      div.timestamp {
        position: absolute;
        bottom: 3px;
        right: 5px;
        font-size: 10px;
      }
    }
    div.dot-nav {
      text-align: center;
      div.dot {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background: rgba(0, 0, 0, .3);
        display: inline-block;
        margin: 7px 5px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .4);
        &.selected {
          background: rgba(255, 255, 255, .9);
          border-color: rgba(255, 255, 255, .4);
        }
      }
    }
  }
  div.comments-holder {
    position: relative;
    top: 20px;
    left: 10px;
    margin-right: 20px;
    width: 280px;
    div.comments {
      overflow-x: scroll;
      -webkit-transition: height .5s ease;
         -moz-transition: height .5s ease;
              transition: height .5s ease;
    }
    div.comment {
      position: relative;
      width: 99%;
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #333;
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, .8),  0 3px 1px -1px rgba(255, 255, 255, 0.5);
      padding-top: 5px;
      padding-bottom: 20px;
      overflow: hidden;
      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 0 2px 0px rgba(0, 0, 0, .8);
      }
      img {
        width: 28px;
        height: 28px;
        left: 4px;
        top: 7px;
        position: absolute;
        border-radius: 3px;
      }
      div.text {
        a {
          color: #f5f5f5;
        }
        position: relative;
        left: 37px;
        top: 3px;
        font-size: 13px;
        line-height: 16px;
        width: 240px;
      }
      div.timestamp {
        position: absolute;
        bottom: 3px;
        right: 5px;
        font-size: 10px;
      }
    }
  }
}