div#sidebar div.info {
  margin-top: -2px;
  div.no-info {
    margin-top: 20px;
    cursor:default;
  }
  div.picture {
    display: inline-block;
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    border-bottom: 1px solid #181818;
    .box-shadow(e('0 0 2px 2px rgba(77, 77, 77, 0.7), 0 0 1px #5e5e5e'));
    img.thumb {
      width: 100%;
      height: auto;
      position: absolute;
      opacity: .5;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      pointer-events: none;
      /* -webkit-filter: grayscale() brightness(40%); */
      &.fix-height {
        height: 150%;
        width: auto;
      }
    }
    div.publisher {
      left: 9px;
      top: 10px;
      background: rgba(0, 0, 0, .6);
      display: inline-block;
      border-radius: 3px;
      position: absolute;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        vertical-align: top;
        border: 1px solid transparent;
      }
      div.name {
        color: #f5f5f5;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        font-size: 11px;
        font-family: MuseoSans500;
        line-height: 3px;
        margin: 0 5px 0 2px;
        display: inline-block;
      }
    }
    &.scrolled div.publisher {
      pointer-events: none;
    }
  }
  img.thumb {
    height: 70px;
    border-radius: 6px;
    position: absolute;
    .box-shadow(e('0 0 3px 0 rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(255, 255, 255, .9)'));
    border: 0px solid whiteSmoke;
    left: 10px;
    top: 30px;
  }
  div.label {
    font-size: 10px;
    color: #181818;
    margin-bottom: 7px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px white;
    font-family: MuseoSans700;
    a {
      cursor: pointer;
    }
  }
  div.scrollable {
    height: 200px;
    .scroll-y();
    padding-right: 14px;
    margin-right: -14px;
  }
  div.title {
    position: absolute;
    left: 9px;
    top: 40px;
    padding-right: 10px;
    color: whiteSmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: MuseoSans100;
    width: 230px;
    overflow: hidden;
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
    padding: 5px;
    pointer-events: none;
  }
  div.desc-link {
    a {
      font-size: 10px;
      color: #181818;
      text-shadow: 1px 1px 1px white;
      font-family: MuseoSans700;
    }
    position: relative;
    width: 240px;
    margin-top: 181px;
    font-size: 12px;
    margin-left: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid #181818;
  }
  div.description {
    width: 240px;
    min-height: 150px;
    position: relative;
    margin-right: 5px;
    padding: 8px 10px;
    color: #181818;
    text-shadow: none;
    line-height: 18px;
    font-family: MuseoSans300;
    font-size: 12px;
    a {
      color: #181818;
      font-family: MuseoSans300;
      text-decoration: underline;
    }
  }
  div.published {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,.7);
    line-height: 18px;
    font-family: MuseoSans500;
    font-size: 10px;
  }
  div.options {
    position: absolute;
    top: 0;
    right: -2px;
    .box-shadow(-1px, 0, 1px, 0px, rgba(200, 200, 200, 0.6));
    div.button {
      display: block;
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid rgba(45, 52, 70, 0.4);
      border-radius: 0;
      .box-shadow(e('inset 0 0 1px 1px rgba(140, 140, 140, 0.70), 0 0 1px #5e5e5e'));
      margin-top: -1px;
      width: 40px;
      height: 33px;
      position: relative;
      &:active, &.goog-custom-button-active, &.goog-custom-button-disabled,
      &.goog-custom-button-checked {
        background-color: rgba(80, 80, 80, 0.6);
      }
    }
    div.icon {
      position: absolute;
      opacity: .8;
      top: 50%;
      left: 50%
    }
    div.play .icon {
      .sprite-info-play();
      margin-top: -7px;
      margin-left: -4px;
    }
    div.plus .icon {
      .sprite-info-plus();
      margin-top: -6px;
      margin-left: -6px;
    }
    div.star .icon {
      .sprite-heart-light();
      margin-top: -5px;
      margin-left: -5px;
    }
    div.star.goog-custom-button-checked .icon {
      .sprite-heart-red();
      margin-top: -5px;
      margin-left: -5px;
    }
    div.facebook .icon {
      .sprite-facebook();
      margin-top: -7px;
      margin-left: -3px;
    }
    div.twitter .icon {
      .sprite-twitter();
      margin-top: -6px;
      margin-left: -6px;
    }
  }
  div.viewers {
    position: relative;
    top: 10px;
    left: 9px;
    padding-right: 9px;
    width: 280px;
    div.label {
      margin-left: 0;
    }
    div.viewer {
      background: rgba(0, 0, 0, .2);
      width: 28px;
      height: 28px;
      border-radius: 14px;
      .box-shadow(inset, 0px, 0px, 2px, 1px, rgba(0, 0, 0, 0.6));
      display: inline-block;
      margin-left: 9px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
        margin-left: 4px;
        margin-top: 4px;
        border-radius: 10px;
        .box-shadow(0, 0, 2px, 1px, rgba(0, 0, 0, .4));
      }
      &:active {
        img {
          .box-shadow(0, 0, 1px, 1px, rgba(0, 0, 0, .1));
        }
      }
      &.online {
        background-color: #00bf2f !important;
      }
    }
  }
  div.comments-holder, div.tweet-holder {
    top: 20px;
  }
  div.comments-holder {
    div.comments {
      .scroll-y();
      padding-right: 14px;
      margin-right: -14px;
    }
  }
  div.tweet-holder {
    div.tweets {
      white-space: nowrap;
      overflow: hidden;
    }
    div.tweet {
      width: 280px;
      display: inline-block;
      border-radius: 3px;
      vertical-align: middle;
      margin: 0 9px;
      white-space: normal;
    }
  }
}