div#login {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9998;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #181818;
  &.hide {
    background: transparent;
    div#homepage {
      overflow: hidden;
      top: -100%;
    }
    &.expanded {
      div#static-scrollable {
        cursor: pointer;
      }
    }
    div#static-content {
      .transition(height, .6s, ease-in);
      height: 0;
      div#footer {
        display: none;
      }
    }
  }
  &.app {
    .transition(opacity, .3s, ease);
    background: rgba(0, 0, 0, .75);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    div#static-scrollable {
      display: none;
      cursor: pointer;
    }
    &.expanded {
      div#static-content {
        .transition(none);
        height: 190px;
      }
    }
    div#static-content {
      .transition(height, .3s, ease);
      height: 0px;
    }
    div.footer {
      top: 20px;
    }
  
    &.show {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      div#static-scrollable {
        display: block;
      }
      div#static-content {
        div.header {
          display: none;
        }
        div#pages {
          margin-top: 50px;
        }
      }
    }
  }

  .faq, #faq {
    display: none;
  }
  &.app .faq, &.app #faq {
    display: inline-block;
  }

  .bold {
    font-family: MuseoSans700;
  }
  div#homepage {
    width: 100%;
    height: 100%;
    background: #181818 url(/static/img/homepage.jpg);
    background-position: center -50px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1%;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
    .box-shadow(e('inset 0 0 1px 1px rgba(0, 0, 0, 0.59), inset 0 -3px 1px 0px rgba(255, 255, 255, 0.5), 0 0 2px 1px rgba(0, 0,0,.5)'));
    &.hide {
      opacity: 0;
    }
    &.show {
      opacity: 1;
      .transition(e('opacity .5s ease-in, top .6s ease-in'));
    }
  }
  div#static-scrollable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  div#static-content {
    width: 100%;
    height: 190px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #dedede url(/static/img/content-texture.png);
    border-top: 1px solid rgba(0, 0, 0, .8);
    .box-shadow(e('inset 0 0 1px 1px rgba(0, 0, 0, 0.59), inset 0 3px 1px 0px rgba(255, 255, 255, 0.5), 0 0 2px 1px rgba(0, 0,0,.5)'));
    cursor: default;
    div.header {
      width: 760px;
      margin: auto;
      position: relative;
    }
    div.title {
      font-size: 40px;
      position: absolute;
      width: 455px;
      left: -1px;
      top: 20px;
      padding: 30px 0;
      border-right: 1px solid rgba(0, 0, 0, .4);
      .box-shadow(2px, 0px, 0, -1px, rgba(255, 255, 255, 0.5));
      font-family: MuseoSans700;
      color: #3d3d3d;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, .9);
    }
    div.subtitle {
      font-size: 19px;
      position: absolute;
      top: 70px;
      padding: 30px 0;
      font-family: MuseoSans300;
      color: #3d3d3d;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
    }
    div#error {
      position: absolute;
      top: 80px;
      left: 0;
      color: #B7432E;
      font-size: 14px;
      text-shadow: none;
      font-family: MuseoSans500;
    }
    div.fb-login {
      background: #f5f5f5;
      width: 230px;
      height: 70px;
      .border-radius(3px);
      .box-shadow(e('0 0 5px 2px rgba(9, 9, 9, 0.5), 0 0 0 3px rgb(230, 230, 230), 0 0 0 4px rgba(121, 121, 121, .5)'));
      position: absolute;
      right: 3px;
      top: 40px;
      color: #4d4d4d;
      text-shadow: 1px 1px 1px white;
      cursor: pointer;
      visibility: hidden;
      div.power {
        width: 70px;
        height: 70px;
        display: inline-block;
        border-right: 1px solid #aaa;
        .border-radius(3px, 0, 0, 3px);
        div.bg {
          width: 100%;
          height: 100%;
          background-image: url(/static/img/power.png);
          background-repeat: no-repeat;
          background-position: 20px 19px;
        }
        &.error {
          background-color: #B7432E;
        }
        &.wait {
          background-color: #B49B4B;
        }
      }
      &.spin div.power div.bg {
        .animation(spin, 3s, infinite, linear);
      }
      div.label, div.loading {
        font-family: MuseoSans500;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        position: relative;
        left: 37px;
        top: 15px;
        font-size: 24px;
      }
      div.loading {
        display: none;
        top: 24px;
        left: 25px;
        font-size: 22px;
      }
      div.with-fb {
        font-family: MuseoSans300;
        position: absolute;
        width: 80px;
        font-size: 11px;
        top: 40px;
        margin: auto;
        vertical-align: top;
        left: 113px;
        display: inline-block;
      }
      &.spin div.loading {
        display: inline-block;
      }
      &.spin div.label, &.spin div.with-fb {
        display: none;
      }
      div.waitlist {
        display: none;
        font-family: MuseoSans300;
        vertical-align: top;
        text-align: center;
        position: relative;
        left: 3px;
        top: 28px;
        font-size: 14px;
        width: 146px;
      }
      &.waitlist div.waitlist {
        display: inline-block;
      }
      &.waitlist div.label, &.waitlist div.with-fb {
        display: none;
      }
      opacity: 0;
      &.show {
        visibility: visible;
        opacity: 1;
        .transition(opacity, .3s, ease-in-out);
      }
      &:active, &:disabled, &.disabled {
        background-color: #dedede;
        .box-shadow(e('0 0 5px 2px rgba(0, 0, 0, 0.7), 0 0 0 3px #f5f5f5, 0 0 0 4px rgba(121, 121, 121, .5)'));
        color: #2D2D2D;
      }
      &.disabled {
        cursor: default;
        pointer-events: none;
      }
    }
    &.about div#pages div.about, &.jobs div#pages div.jobs, &.tos div#pages div.tos,
        &.privacy div#pages div.privacy, &.faq div#pages div.faq {
      visibility: visible;
      opacity: 1;
      height: auto;
      padding: 10px;
    }
    &.about div#footer a#about, &.jobs div#footer a#jobs, &.tos div#footer a#tos,
        &.privacy div#footer a#privacy, &.faq div#footer a#faq {
      text-decoration: underline;
    }
    div#pages {
      width: 760px;
      margin: auto;
      margin-top: 170px;
      position: relative;
      color: #3d3d3d;
      text-shadow: 1px 1px 1px white;
      a {
        color: #3d3d3d;
      }
      div.page {
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        .transition(opacity, .3s, ease);
        height: 0;
        background: rgba(0, 0, 0, .1);
        .border-radius(6px);
        border: 1px solid #a9a9a9;
        .box-shadow(inset, 0, 0, 1px, 0, rgba(0, 0, 0, .2));
      }
      div.page-title {
        font-size: 26px;
        font-family: MuseoSans500;
        margin-bottom: 20px;
      }
      div.page-content {
        width: 740px;
        font-size: 14px;
        font-family: MuseoSans300;
        .select-text();
        line-height: 20px;
      }
      
    }
    div.footer {
      position: absolute;
      bottom: 0;
      width: 900px;
      font-size: 11px;
      text-align: center;
      height: 25px;
      left: 50%;
      margin-left: -450px;
      color: #4d4d4d;
      font-family: MuseoSans500;
      a {
        color: #4d4d4d;
      }
    }
  }
}

#uvTab {
  display: none !important;
  opacity: .8;
  .transition(opacity, .3s, ease);
  &:hover {
    opacity: 1;
  }
  &.show {
    display: block !important;
  }
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
