@import "buttons.less";
@import "controller.less";
@import "guide.less";
@import "player.less";
@import "popup.less";
@import "sidebar.less";
@import "login.less";
@import "drag.less";
@import "info.less";
@import "stream.less";
@import "admin.less";
@import "profile.less";

.transition (@style, @speed, ...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
       -o-transition: @arguments;
      -ms-transition: @arguments;
          transition: @arguments;
}

.transform (...) {
  transform:@arguments;
  -ms-transform:@arguments;
  -moz-transform:@arguments;
  -webkit-transform:@arguments;
  -o-transform:@arguments;
}

.alternate () {
  animation-direction:alternate;
  -moz-animation-direction:alternate; /* Firefox */
  -webkit-animation-direction:alternate; /* Safari and Chrome */
  -o-animation-direction:alternate; /* Opera */
}

@font-face {
  font-family: 'MuseoSans100';
  src: url('/static/webfonts/museosans/100.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans300';
  src: url('/static/webfonts/museosans/300.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans500';
  src: url('/static/webfonts/museosans/500.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans700';
  src: url('/static/webfonts/museosans/700.woff') format('woff');
}

html, body {
  background: #181818;
  margin: 0;
  font-family: MuseoSans300;
  overflow: hidden;
}

div#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 100;
}

a {
  text-decoration: none;
  font-family: MuseoSans700;
  &:hover {
    text-decoration: underline;
  }
}


