@import "buttons.less";
@import "controller.less";
@import "guide.less";
@import "player.less";
@import "popup.less";
@import "sidebar.less";
@import "login.less";
@import "drag.less";

.transition (@style, @speed, ...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
       -o-transition: @arguments;
      -ms-transition: @arguments;
          transition: @arguments;
}

.transform (...) {
  transform:@arguments;
  -ms-transform:@arguments;
  -moz-transform:@arguments;
  -webkit-transform:@arguments;
  -o-transform:@arguments;
}

.alternate () {
  animation-direction:alternate;
  -moz-animation-direction:alternate; /* Firefox */
  -webkit-animation-direction:alternate; /* Safari and Chrome */
  -o-animation-direction:alternate; /* Opera */
}

@font-face {
	font-family: 'MuseoSans';
	src: url('/static/webfonts/235CED_0_0.eot');
	src: url('/static/webfonts/235CED_0_0.eot?#iefix')
	    format('embedded-opentype'),
	    url('/static/webfonts/235CED_0_0.woff') format('woff'),
	    url('/static/webfonts/235CED_0_0.ttf') format('truetype');
}

html, body {
  background: #181818;
  margin: 0;
  font-family: MuseoSans;
  overflow: hidden;
}

div#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 100;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


