@import "buttons.less";
@import "controller.less";
@import "guide.less";
@import "player.less";
@import "popup.less";
@import "sidebar.less";

.transition (@style, @speed, @rest) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
       -o-transition: @arguments;
      -ms-transition: @arguments;
          transition: @arguments;
}

.alternate () {
  animation-direction:alternate;
  -moz-animation-direction:alternate; /* Firefox */
  -webkit-animation-direction:alternate; /* Safari and Chrome */
  -o-animation-direction:alternate; /* Opera */
}

@font-face {
	font-family: 'MuseoSans';
	src: url('/static/webfonts/235CED_0_0.eot');
	src: url('/static/webfonts/235CED_0_0.eot?#iefix')
	    format('embedded-opentype'),
	    url('/static/webfonts/235CED_0_0.woff') format('woff'),
	    url('/static/webfonts/235CED_0_0.ttf') format('truetype');
}

html, body {
  background: #181818;
  margin: 0;
  font-family: MuseoSans;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


