div.messages, div#sidebar div.messages {
  overflow-x: hidden;
  overflow-y: scroll !important;
  width: 320px;

  div.comment-input {
    visibility: visible;
    opacity: 1;
  }

  div.no-comments {
    margin-top: 10px;
  }
  div.spinner {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    text-align: center;
    background: @spinner no-repeat center 5px;
    line-height: 40px;
    .transition(height, .3s, linear);
    &.finished {
      height: 1px;
      opacity: 0;
      visibility: hidden;
    }
  }
  div.separator {
    width: 300px;
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid #aaa;
  }
  &.inbox {
    div.spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90px;
      height: 90px;
      margin-left: -45px;
      margin-top: -45px;
      background: @spinner3 no-repeat center;
      .border-radius(6px);
      z-index: 100;
    }
    div.message {
      border-bottom: 1px solid rgba(153, 153, 153, 0.5);
      .box-shadow(0, 1px, 1px, rgba(0, 0, 0, .1));
      cursor: pointer;
      background: rgba(255, 255, 255, .8);
      margin-top: 0;
      padding: 7px 0;
      &:hover {
        background: rgba(255, 255, 255, .8);
      }
      &:active {
        background: rgba(255, 255, 255, .6);
      }
      &:first-child {
        border-top: 1px solid #999;
      }
      &.unread {
        background: white;
        &:hover {
          background: white;
        }
      }
      div.body {
        margin-bottom: 0;
        div.timestamp {
          display: block;
        }
      }
    }
  }
  div.message {
    margin-top: 10px;
    position: relative;
    width: 320px;
    &.flip {
      div.body {
        left: 10px;
        div.list-media {
          margin-left: 0;
        }
      }
      div.picture {
        right: 10px;
      }
    }
    div.body {
      position: relative;
      left: 50px;
      top: 0;
      margin-bottom: 15px;
      width: 260px;
      font-family: MuseoSans500;
      font-size: 11px;
      a {
        color: #181818;
        font-family: MuseoSans700;
      }
      div.texts {
        position: relative;
        &:hover {
          div.text {
            div.timestamp {
              display: none;
            }
          }
        }
      }
      div.list-media {
        margin-top: 5px;
        margin-left: -40px;
      }
      div.text {
        background: #2ecc71;
        margin-top: 4px;
        padding: 5px;
        font-family: MuseoSans300;
        font-size: 13px;
        .border-radius(3px);
        color: white;
        .box-shadow(inset, 0, 0, 1px, 0, rgba(0, 0, 0, 0.4));
        .select-text();
        &:last-child {
          div.timestamp {
            display: block;
          }
        }
        &:hover {
          div.timestamp {
            display: block !important;
          }
        }
      }
      div.timestamp {
        display: none;
        font-size: 10px;
        font-family: MuseoSans300;
        color: #181818;
        position: absolute;
        top: -17px;
        right: 0;
      }
    }
    div.picture {
      position: absolute;
      background: #ccc;
      width: 34px;
      height: 34px;
      .border-radius(18px);
      .box-shadow(0px, 0px, 1px, 0, rgba(0, 0, 0, 0.6));
      display: inline-block;
      margin-left: 9px;
      img {
        width: 34px;
        height: 34px;
        .border-radius(17px);
      }
      &:active {
        img {
          .box-shadow(0, 0, 1px, 1px, rgba(0, 0, 0, .1));
        }
      }
    }
  }
}
div#inbox div.messages {
  height: 282px;
  padding-top: 18px;
  div.no-comments, div.no-info {
    width: 280px;
    .border-radius(3px);
    font-size: 13px;
    text-align: center;
    color: #ecf0f1;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    padding: 10px;
    margin: 0 10px;
    font-family: MuseoSans500;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -150px;
  }
}
