#stage {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  .transition(e('width .5s ease, height .5s ease, top .5s ease'));
  
  #queue, #search, #vote {
    opacity: 0;
    .transition(opacity, .1s, ease);
  }
  &:hover #queue, &:hover #search, &:hover #vote {
    opacity: 1;
  }
}



#ytplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

div#logo {
  background: @xylo-bw;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 108px;
  height: 18px;
}

#stagecover {
  width: 100%;
  height: 100%;
  .transition(width, .5s, ease);
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  &.covered {
    background: #181818;
    .transition(e('width .5s ease, height .5s ease'));
    div.message {
      display: block;
    }
  }
  &.click-through {
    pointer-events: none;
  }
  div.message {
    display: none;
    font-size: 24px;
    font-family: MuseoSans300;
    color: #f7f7f7;
    position: absolute;
    left: 50%;
    top: 50%;
    div.spinner {
      position: absolute;
      left: 50%;
      margin-left: -100px;
      bottom: -150px;
      background: @spinner2 no-repeat center;
      background-position: 50% 60%;
      background-size: 70px;
      width: 200px;
      height: 220px;
    }
    div.restart {
      position: absolute;
      left: 50%;
      margin-left: -90px;
      bottom: -60px;
      width: 180px;
      height: 45px;
      font-size: 16px;
      text-align: center;
      .border-radius(3px);
      cursor: pointer;
      line-height: 45px;
      border: 1px solid #333;
      font-family: MuseoSans300;
      .icon-restart();
      &:before {
        margin-right: 10px;
      }
      &:active {
        background: rgba(255, 255, 255, .1);
      }
    }
  }
  div.fullscreen, div.expand {
    width: 25px;
    height: 25px;
    .border-radius(4px);
    position: absolute;
    cursor: pointer;
    opacity: 0;
    .transition(opacity, .1s, ease);
  }
  div.fullscreen {
    .icon-fullscreen();
    width: 20px;
    height: 20px;
    right: 40px;
    top: 10px;
    color: #f5f5f5;
    font-size: 18px;
    &.full {
      .icon-closescreen();
      width: 20px;
      height: 20px;
    }
  }
  div.expand {
    .icon-expand();
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    color: #f5f5f5;
    font-size: 18px;
  }
  div.play, div.pause {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, .5);
    .border-radius(6px);
    opacity: .6;
  }
  div.play {
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -7px;
      .icon-play();
      font-size: 30px;
      color: #f5f5f5;
    }
  }
  div.pause {
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -9px;
      .icon-pause();
      font-size: 30px;
      color: #f5f5f5;
    }
  }
}

#stage:hover #stagecover div.fullscreen, #stage:hover #stagecover div.expand {
  opacity:.6;
  &:hover {
    opacity: .9;
  }
}

div.vote {
  width: 60px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -50px;
  div.like {
    width: 40px;
    height: 40px;
    .border-radius(22px);
    color: #f5f5f5;
    .icon-like();
    opacity:.6;
    line-height: 38px;
    text-align: center;
    margin-bottom: 10px;
    .transition(opacity, .1s, ease);
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .5);
    .box-shadow(0, 0, 1px, 2px, rgba(255,255,255,0.3));
    &:hover {
      background: #2F6E53;
      opacity: .9;
    }
    &.checked {
      background: #2F6E53;
      opacity: .9;
    }
  }
  div.dislike {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .5);
    .border-radius(22px);
    color: #f5f5f5;
    .icon-dislike();
    opacity:.6;
    line-height: 42px;
    text-align: center;
    .transition(opacity, .1s, ease);
    cursor: pointer;
    .box-shadow(0, 0, 1px, 2px, rgba(255,255,255,0.3));
    &:hover {
      background: #B49B4B;
      opacity: .9;
    }
     &.checked {
      background: #B49B4B;
      opacity: .9;
    }
  }
}

