div#sidebar div#sidebar-content div.screen.profile,
div#sidebar div#sidebar-content div.slide.profile {
  div.tabbed ul.tabs li.tab.starred div.label {
    padding-left: 17px;
    position: relative;
  }
  div.heart {
    background: url(/static/img/heart-dark.png) no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: 63px;
    background-size: 13px;
  }
  div.no-comments {
    margin-top: 10px;
    cursor: default;
  }
  div.content.starred {
    overflow-y: scroll;
    div.medias {
      margin: 10px; 
      padding-bottom: 10px;
    }
  }
}