div#sidebar div#sidebar-content div.screen.profile,
div#sidebar div#sidebar-content div.slide.profile {
  div.tabbed ul.tabs li.tab.starred div.label {
    padding-left: 10px;
    position: relative;
  }
  div.heart {
    .icon-bookmark();
    color: #7d7d7d;
    position: absolute;
    top: -3px;
    left: 72px;
    font-size: 16px;
  }
  div.tabbed.starred ul.tabs li.tab.starred div.heart {
    color: #dedede;
  }
  div.stream div.no-comments {
    margin-top: 0;
  }
  div.starred div.no-comments {
    margin-top: 11px;
    cursor: default;
  }
  div.content.starred {
    .scroll-y();
    padding-right: 14px;
    margin-right: -14px;
    div.medias {
      margin: 10px;
      padding-bottom: 10px;
    }
  }
}
