div#sidebar {
  position: absolute;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #aaa url(/static/img/linen-75.png);
  z-index: 100;
  border-left: 1px solid rgba(0, 0, 0, .7);
  overflow: hidden;
  font-family: MuseoSans300;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #181818;
  -webkit-transition: right .5s ease;
     -moz-transition: right .5s ease;
          transition: right .5s ease;
  z-index: 110;
  
  &.dark {
    background: #aaa url(/static/img/linen-black-70.png);
    div.stream div.activity div.text, div.stream div.activity div.text,
        div.stream div.activity div.text a, div.info div.label {
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #181818; 
    }
    div.tabbed.activity ul.tabs li.activity {
      background: rgba(245, 245, 245, .8);
    }
    div.list-media {
      background: rgba(240, 240, 240, .2);
      box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.8);
      &:active {
        box-shadow: 0 1px 1px rgba(255,255,255,.4);
      }
    }
    div.info div.comments-holder div.comment, div.info div.tweet-holder div.tweet {
      background: rgba(255, 255, 255, .15);
      border: rgba(255, 255, 255, .2);
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8);
    }
  }
  
  &.toggled {
    right: 0px;
    box-shadow: inset 4px 0 6px -4px rgba(0, 0, 0, 0.7),
      0 0 1px 1px rgba(146, 146, 146, 0.6);
  }
  
  &.admin {
    div.admin {
      display: block !important;
    }
    li.tab.admin {
      display: table-cell !important;
    }
  }
  div#toolbar {
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    position: relative;
    border-bottom: 2px solid #AAA;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2), inset 4px 2px 6px -3px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(24, 24, 24, 0.2);
    z-index: 20;
    &.back {
      ul.tabs {
        display: none;
      }
      div.arrow {
        opacity: 0;
      }
      div.back {
        display: block;
        div.back-title {
          width: 140px;
          opacity: 1;
        }
        div.back-button {
          width: 50px;
          opacity: 1;
        }
      }
    }
    div.back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      div.back-title {
        text-align: center;
        margin: auto;
        padding-top: 13px;
        width: 0;
        opacity: 0;
        font-size: 15px;
        color: #7d7d7d;
        text-shadow: 1px 1px 1px white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .transition(e('opacity .3s ease, width, .3s, ease'));
      }
      div.back-button {
        width: 0;
        opacity: 0;
        height: 25px;
        position: absolute;
        left: 20px;
        top: 6px;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        .transition(e('opacity .3s ease, width, .3s, ease'));
        &:after, &:before {
          right: 100%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(245, 245, 245, 0);
          border-right-color: #f5f5f5;
          border-width: 12px;
          top: 50%;
          margin-top: -12px;
        }
        &:before {
          border-color: rgba(204, 204, 204, 0);
          border-right-color: #ccc;
          border-width: 14px;
          top: 50%;
          margin-top: -14px;
        }
        div {
          font-size: 11px;
          font-family: MuseoSans700;
          margin-top: 6px;
          margin-left: 6px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    ul.tabs {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      li.tab {
        height: 100%;
        border-right: 1px solid #ccc;
        margin-left: -2px;
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
        &.admin {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
        
        div.icon {
        
        }
        div.label {
          text-align: center;
          font-family: MuseoSans700;
          font-size: 11px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    div.arrow {
      position: absolute;
      top: 40px;
      .transition(left, .3s, ease);
      &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(245, 245, 245, 0);
        border-top-color: #f5f5f5;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
      }
      &:before {
        border-color: rgba(204, 204, 204, 0);
        border-top-color: #AAA;
        border-width: 13px;
        left: 50%;
        margin-left: -13px;
      }
    }
    div.radial-grad {
      position: absolute;
      width: 100%;
      height: 20px;
      background: url(/static/img/radial-grad.png);
      top: 43px;
      pointer-events: none;
    }
  }
  div#sidebar-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    div.screen {
      opacity: 0;
      visibility: hidden;
      .transition(opacity, .5s, ease-in-out);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 43px;
      right: -300px;
      overflow: hidden;
      .transition(e('opacity .3s ease, width .3s ease, right .3s ease, left .3s ease'));
      -webkit-overflow-scroll: touch;
    }
    div.slide {
      position: absolute;
      width: 0;
      height: 100%;
      top: 43px;
      overflow: hidden;
      .transition(e('opacity .3s ease, width .3s ease, right .3s ease'));
      -webkit-overflow-scroll: touch;
    }
    div.screen.current, div.slide.current {
      opacity: 1;
      visibility: visible;
      width: 100%;
      right: 0;
    }
    div.media-list {
      overflow-y: scroll;
      div.list-info {
        margin: 10px;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 280px;
      
        > div {
          display: none;
          vertical-align: top;
        }
        div.picture{
          width: 60px;
          box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8);
          background: rgba(0, 0, 0, 0.65);
          border-radius: 3px;
          img {
            width: 60px;
            height: 60px;
            border-bottom: 1px solid rgba(204, 204, 204, 0.32);
          }
        }
        div.description {
          font-size: 12px;
          padding-left: 10px;
        }
      }
      div.medias {
        margin: 10px;
      }
    }
  }
  div.comment-input {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-height: 31px;
    position: absolute;
    bottom: 42px;
    div.comment-controls {
      width: 100%;
      height: 24px;
      border-top: 1px solid #CCC;
      background: rgba(255, 255, 255, .7);
      color: #7D7D7D;
      text-shadow: 1px 1px 1px white;
      top: 27px;
      position: relative;
      -webkit-transition: top .5s ease;
         -moz-transition: top .5s ease;
              transition: top .5s ease;
      div.comment-button {
        width: 100px;
        height: 100%;
        display: inline-block;
        border-right: 1px solid #ccc;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        position: relative;
        &:first-child {
          margin-left: -2px;
        }
        &:last-child {
          border-right: none;
        }
        &.tweet-toggle {
          background-image: url(/static/img/twitter.png);
          background-repeat: no-repeat;
          background-size: 13px;
          background-position: 10px 5px;
        }
        &.fb-toggle {
          background-image: url(/static/img/facebook.png);
          background-repeat: no-repeat;
          background-size: 7px;
          background-position: 10px 3px;
        }
        .goog-custom-button-inner-box {
          margin-top: 5px;
          text-align: center;
        }
        &.goog-custom-button-checked, &.add-comment {
          background-color: rgba(255,255,255, .8);
        }
        &.goog-custom-button-checked div.check {
          background-image: url(/static/img/check@2x.png);
          background-repeat: no-repeat;
          background-size: 10px;
          background-position: 75px 5px;
        }
        &.goog-custom-button-disabled {
          background: none !important;
          cursor: normal;
        }
        &.add-comment.goog-custom-button-active {
          background: rgba(0, 0, 0, .1);
          color: #6D6D6D;
        }
        div.check {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
        }
      }
    }
    div.input-holder {
      background: #f7f7f7;
      width: 100%;
      height: 100%;
      border-top: 2px solid #ccc;
      box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.4), inset 4px -2px 6px -3px rgba(0, 0, 0, 0.3),
          0 0 0 1px rgba(24, 24, 24, 0.3);
      position: relative;
      textarea {
        resize:none;
        height: auto;
        border-radius: 3px;
        width: 280px;
        font-size: 13px;
        min-height: 16px;
        outline: none;
        border-color: #CCC;
        resize: none;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 4px;
      }
    }
  }
  div.info.current div.comment-input {
    visibility: visible;
    opacity: 1;
  }
  
  div.tabbed {
    ul.tabs {
      height: 30px;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      border-bottom: 1px solid rgba(112, 108, 108, 0.7);
      li.tab {
        height: 100%;
        border-right: 1px solid #ccc;
        margin-left: -2px;
        display: table-cell;
        vertical-align: middle;
        background: rgba(245, 245, 245, 0.9);
        cursor: pointer;
        &.admin {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
        div.label {
          text-align: center;
          font-family: MuseoSans700;
          font-size: 11px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    div.content {
      display: none;
    }
    &.activity {
      div.activity {
        display: block;
      }
      ul.tabs li.activity {
        background: rgba(245, 245, 245, 0.6);
      }
    }
    &.starred {
      div.starred {
        display: block;
      }
      ul.tabs li.starred {
        background: rgba(245, 245, 245, 0.6);
      }
    }
  }
  
  div.list-media {
    margin-bottom: 10px;
    border-radius: 3px; 
    position: relative;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #333;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #181818;
    opacity: 0;
    .transition(opacity, .3s, ease-in);
    &.show {
      opacity: 1;
    }
    &.remove {
      opacity: 0;
    }
    &:hover div.media {
      div.preview {
        background: -webkit-linear-gradient(top, black, #aaa);
        background-size: auto 100%;
        div.thumb {
          .transition(e('opacity .3s ease, background-position .3s ease'));
          opacity: .7;
          background-position-y: 40% !important;
        }
        div.title, div.published {
          color: #f7f7f7;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px rgba(0, 0, 0, 0.5),
              1px -1px 1px rgba(0, 0, 0, 0.5), -1px 1px rgba(0, 0, 0, 0.5);
        }
        div.approve, div.remove, div.repos, div.play {
          filter: invert(100%);
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
        }
      }
    }
    &:active {
      margin-bottom: 11px;
      box-shadow: 0 1px 1px rgba(255,255,255,.2);
      div.publisher {
        margin-bottom: 5px;
      }
    }
    div.media {
      white-space: normal;
      overflow: hidden;
      vertical-align: middle;
      height: 50px;
      color: #999;
      text-shadow: 1px 1px 1px white;
      margin-top: -1px;
      cursor: pointer;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      div.preview {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 1px;
        div.thumb {
          width: 100%;
          height: 100%;
          opacity: .2;
          background-size: 150% auto;
          background-position: center;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        div.title {
          left: 5px;
          top: 5px;
          color: #181818;
          text-shadow: 1px 1px 1px white;
          height: 100%;
          font-size: 14px;
          line-height: 20px;
          position: absolute;
          overflow: hidden;
          font-family: MuseoSans300;
          &.marquee {
            .transition(margin-left, 10s, linear);
          }
        }
        div.published {
          position: absolute;
          bottom: 3px;
          font-size: 10px;
          color: #181818;
          left: 5px;
        }
        div.approve {
          position: absolute;
          right: 25px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/39-circle-check.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 80%;
        }
        div.remove {
          position: absolute;
          right: 5px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/31-circle-x.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 80%;
          filter: invert(100%);
        }
        div.repos {
          position: absolute;
          right: 5px;
          bottom: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/repos.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 80%;
        }
        div.play {
          position: absolute;
          right: 45px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/36-circle-play.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 80%;
        }
      }
      &:hover div.title {
        color: #f5f5f5;
        text-shadow: 0px 0px 4px black;
      }
    }
    div.publisher {
      left: 10px;
      top: 10px;
      position: relative;
      top: 3px;
      left: 0px;
      margin-bottom: 6px;
      border-bottom: 1px solid rgba(204, 204, 204, 0.32);
      width: 272px;
      padding: 3px;
      font-family: MuseoSans500;
      img {
        width: 22px;
        height: 22px;
        border-radius: 6px;
        vertical-align: top;
        border: 1px solid transparent;
      }
      div.name {
        font-size: 11px;
        line-height: 3px;
        margin: 0 5px;
        display: inline-block;
      }
      div.duration {
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }
    div.description, div.duration {
      font-size: 11px;
      margin: 5px;
    }
  }
}
