div#sidebar {
  position: absolute;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: url(/static/img/ios-linen.jpg);
  z-index: 100;
  border-left: 1px solid black;
  box-shadow: inset 4px 0 6px -3px rgba(0, 0, 0, 0.7),
      0 0 0 1px #181818;
  overflow: hidden;
  color: #ccc;
  -webkit-transition: right .5s ease;
     -moz-transition: right .5s ease;
          transition: right .5s ease;
  &.toggled {
    right: 0px;
  }
  div#toolbar {
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    position: relative;
    border-bottom: 2px solid #AAA;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4), inset 4px 2px 6px -3px rgba(0, 0, 0, 0.7),
        0 0 0 1px #181818;
    z-index: 20;
    &.back {
      ul.tabs {
        display: none;
      }
      div.arrow {
        opacity: 0;
      }
      div.back {
        display: block;
        div.back-title {
          width: 100%;
          opacity: 1;
        }
        div.back-button {
          width: 50px;
          opacity: 1;
        }
      }
    }
    div.back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      div.back-title {
        text-align: center;
        margin: auto;
        padding-top: 13px;
        width: 0;
        opacity: 0;
        font-size: 15px;
        color: #7d7d7d;
        text-shadow: 1px 1px 1px white;
        .transition(all, .3s, ease);
      }
      div.back-button {
        width: 0;
        opacity: 0;
        height: 25px;
        position: absolute;
        left: 20px;
        top: 6px;
        border: 1px solid #ccc;
        border-radius: 3px;
        .transition(all, .3s, ease);
        &:after, &:before {
          right: 100%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(245, 245, 245, 0);
          border-right-color: #f5f5f5;
          border-width: 13px;
          top: 50%;
          margin-top: -14px;
        }
        &:before {
          border-color: rgba(204, 204, 204, 0);
          border-right-color: #ccc;
          border-width: 14px;
          top: 50%;
          margin-top: -15px;
        }
        div {
          font-size: 12px;
          margin-top: 6px;
          margin-left: 6px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    ul.tabs {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      li.tab {
        height: 100%;
        border-right: 1px solid #ccc;
        margin-left: -2px;
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
        
        &:last-child {
          border-right: none;
        }
        
        div.icon {
        
        }
        div.label {
          text-align: center;
          font-size: 13px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    div.arrow {
      position: absolute;
      top: 40px;
      .transition(all, .3s, ease);
      &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(245, 245, 245, 0);
        border-top-color: #f5f5f5;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
      }
      &:before {
        border-color: rgba(204, 204, 204, 0);
        border-top-color: #AAA;
        border-width: 13px;
        left: 50%;
        margin-left: -13px;
      }
    }
  }
  div#sidebar-content {
    position: relative;
    div.screen {
      position: absolute;
      width: 100%;
      top: 0;
      right: -300px;
      overflow: hidden;
      .transition(all, .3s, ease);
    }
    div.slide {
      position: absolute;
      width: 0;
      top: 0;
      overflow: hidden;
      .transition(all, .3s, ease);
    }
    .current {
      width: 100% !important;
      right: 0 !important;
    }
    div.info {
      margin-top: 5px;
      img.thumb {
        height: 70px;
        border-radius: 3px;
        position: absolute;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
        border: 1px solid #f5f5f5;
        left: 10px;
        top: 10px;
      }
      div.label {
        font-size: 11px;
        color: #f5f5f5;
        margin-bottom: 7px;
      }
      div.title {
        position: relative;
        left: 110px;
        top: 10px;
        padding-right: 10px;
        color: whiteSmoke;
        text-shadow: 1px 1px 1px #181818;
        font-size: 13px;
        height: 100px;
        width: 180px;
      }
      div.description {
        width: 280px;
        font-size: 10px;
        height: 38px;
        overflow: hidden;
        position: relative;
        left: 5px;
        margin-right: 5px;
        padding: 0 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
      }
      div.viewers {
        position: relative;
        top: 10px;
        left: 9px;
        padding-right: 9px;
        width: 280px;
        div.viewer {
          background: #ccc;
          width: 25px;
          height: 24px;
          border-radius: 10px;
          box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
          display: inline-block;
          margin-left: 9px;
          img {
            width: 21px;
            height: 20px;
            margin-left: 2px;
            margin-top: 2px;
            border-radius: 10px;
          }
        }
      }
      div.tweets {
        position: relative;
        top: 20px;
        margin-right: 20px;
        width: 280px;
        left: 10px;
        div.tweet {
          position: relative;
          width: 99%;
          border-radius: 3px;
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid #888;
          padding-bottom: 20px;
          overflow: hidden;
          img {
            width: 28px;
            height: 28px;
            left: 4px;
            top: 4px;
            position: absolute;
          }
          div.text {
            a {
              color: #f5f5f5;
            }
            position: relative;
            left: 37px;
            top: 3px;
            font-size: 13px;
            width: 240px;
          }
          div.timestamp {
            position: absolute;
            bottom: 3px;
            right: 5px;
            font-size: 10px;
            color: #bbb;
          }
        }
      }
      div.comments-holder {
        position: relative;
        top: 35px;
        left: 10px;
        margin-right: 20px;
        width: 280px;
        div.comments {
          overflow-x: scroll;
          -webkit-transition: height .5s ease;
             -moz-transition: height .5s ease;
                  transition: height .5s ease;
        }
        div.comment {
          position: relative;
          width: 99%;
          border-radius: 3px;
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid #888;
          padding-bottom: 20px;
          overflow: hidden;
          margin-bottom: 5px;
          img {
            width: 28px;
            height: 28px;
            left: 4px;
            top: 4px;
            position: absolute;
          }
          div.text {
            a {
              color: #f5f5f5;
            }
            position: relative;
            left: 37px;
            top: 3px;
            font-size: 13px;
            width: 240px;
          }
          div.timestamp {
            position: absolute;
            bottom: 3px;
            right: 5px;
            font-size: 10px;
            color: #bbb;
          }
        }
      }
    }
    div.admin {
      div.search {
        background: #f5f5f5;
        width: 100%;
        height: 100%;
        input[type=text] {
          height: auto;
          border-radius: 3px;
          width: 280px;
          font-size: 13px;
          min-height: 16px;
          outline: none;
          border: 1px solid #CCC;
          resize: none;
          margin-left: 10px;
          margin-top: 7px;
          margin-bottom: 5px;
        }
      }
      div.label {
        font-size: 11px;
        color: #f5f5f5;
        margin-bottom: 7px;
      }
      div.section {
        position: relative;
        margin: 10px;
      } 
      div.collections {
        div.collection {
          position: relative;
          width: 99%;
          border-radius: 3px;
          background: -webkit-gradient(linear, 0% 0%, 0% 100%,
              from(rgba(153, 153, 153, 0.9)), to(rgba(99, 99, 99, 0.9)));
          border: 1px solid #888;
          padding-bottom: 20px;
          overflow: hidden;
          margin-bottom: 5px;
          font-size: 13px;
          div.title {
            position: relative;
            left: 5px;
            top: 5px;
            font-size: 13px;
            width: 240px;
          }
        }
      }
    }
    div#media-list {
      overflow-y: scroll;
      padding: 10px 0;

      div.media {
        position: relative;
        width: 280px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #888;
        padding-bottom: 20px;
        overflow: hidden;
        margin-left: 10px;
        margin-top: -1px;
        &:first-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        img {
          width: 28px;
          height: 28px;
          left: 4px;
          top: 4px;
          position: absolute;
        }
        div.title {
          a {
            color: #f5f5f5;
          }
          position: relative;
          left: 37px;
          top: 3px;
          font-size: 13px;
          width: 240px;
        }
        div.published {
          position: absolute;
          bottom: 3px;
          right: 5px;
          font-size: 10px;
          color: #bbb;
        }
      }
    }
  }
  div.comment-input {
    display: none;
    width: 100%;
    min-height: 31px;
    position: fixed;
    bottom: 0;
    border-top: 2px solid #ccc;
    box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.4), inset 4px -2px 6px -3px rgba(0, 0, 0, 0.7),
        0 0 0 1px #181818;
    div.comment-controls {
      width: 100%;
      height: 24px;
      border-top: 1px solid #CCC;
      background: rgba(255, 255, 255, .7);
      color: #7D7D7D;
      text-shadow: 1px 1px 1px white;
      top: 0;
      position: absolute;
      z-index: -1;
      -webkit-transition: top .5s ease;
         -moz-transition: top .5s ease;
              transition: top .5s ease;
      div.comment-button {
        width: 100px;
        height: 100%;
        display: inline-block;
        margin-left: -4px;
        border-right: 1px solid #ccc;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        &:first-child {
          margin-left: -2px;
        }
        &:last-child {
          border-right: none;
        }
        .goog-custom-button-inner-box {
          margin-top: 5px;
          text-align: center;
        }
        &.goog-custom-button-checked, &#add-comment {
          background: rgba(255,255,255, .8);
        }
        &.goog-custom-button-checked {
          background-image: url(/static/img/check@2x.png);
          background-repeat: no-repeat;
          background-size: 10px;
          background-position: 75px 5px;
        }
        &.goog-custom-button-disabled {
          background: none !important;
          cursor: normal;
        }
        &#add-comment.goog-custom-button-active {
          background: rgba(0, 0, 0, .1);
          color: #6D6D6D;
        }
      }
    }
    div.input-holder {
      background: #f5f5f5;
      width: 100%;
      height: 100%;
      textarea {
        resize:none;
        height: auto;
        border-radius: 3px;
        width: 280px;
        font-size: 13px;
        min-height: 16px;
        outline: none;
        border-color: #CCC;
        resize: none;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 5px;
      }
    }
  }
  div.info.current ~ div.comment-input {
    display: block;
  }
}