div#sidebar {
  position: absolute;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #aaa url(/static/img/linen-75.png);
  z-index: 100;
  overflow: hidden;
  font-family: MuseoSans300;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #181818;
  .transition(right, .5s, ease);
  z-index: 110;
  border-left: 1px solid rgba(0, 0, 0, .7);
  .box-shadow(e('inset 4px 0 6px -4px rgba(0, 0, 0, 0.7), 0 0 2px 1px rgba(146, 146, 146, 0.6)'));
  
  div.scrollable {
    width: 300px;
  }
  
  &.dark {
    background: #aaa url(/static/img/linen-black-70.png);
    div.stream div.activity div.text, div.stream div.activity div.text,
        div.stream div.activity div.text a, div.info div.label {
      color: #f5f5f5;
      text-shadow: 1px 1px 1px #181818; 
    }
    div.tabbed.activity ul.tabs li.activity {
      background: rgba(245, 245, 245, .8);
    }
    div.list-media {
      background: rgba(240, 240, 240, .2);
      .box-shadow(0, 0, 2px, 0px, rgba(255, 255, 255, 0.8));
      &:active {
        .box-shadow(0, 1px, 1px, rgba(255,255,255,.4));
      }
    }
    div.info div.comments-holder div.comment, div.info div.tweet-holder div.tweet {
      background: rgba(255, 255, 255, .15);
      border: rgba(255, 255, 255, .2);
      .box-shadow(0, 0, 2px, 0px, rgba(0, 0, 0, 0.8));
    }
  }
  
  &.toggled {
    right: 0px;
  }
  &.collapsed {
    border: none;
    .box-shadow(none);
  }
  
  &.admin {
    div.admin {
      display: block !important;
    }
    li.tab.admin {
      display: table-cell !important;
    }
  }
  div#toolbar {
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    position: relative;
    border-bottom: 2px solid #AAA;
    .box-shadow(e('0 2px 3px 1px rgba(0, 0, 0, 0.2), inset 4px 2px 6px -3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(24, 24, 24, 0.2)'));
    z-index: 20;
    cursor: pointer;
    &.back {
      ul.tabs {
        display: none;
      }
      div.arrow {
        opacity: 0;
      }
      div.back {
        display: block;
        div.back-title {
          width: 140px;
          opacity: 1;
        }
        div.back-button {
          width: 64px;
          opacity: 1;
        }
      }
    }
    div.back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      div.back-title {
        text-align: center;
        margin: auto;
        padding-top: 13px;
        width: 0;
        opacity: 0;
        font-size: 15px;
        color: #7d7d7d;
        text-shadow: 1px 1px 1px white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .transition(e('opacity .3s ease, width, .3s, ease'));
      }
      div.back-button {
        opacity: 0;
        position: absolute;
        left: 7px;
        top: 5px;
        cursor: pointer;
        .transition(e('opacity .3s ease, width, .3s, ease'));
        .sprite-backbutton();
        width: 0;
        &:active {
          .sprite-backbutton-active();
          div {
            color: #8d8d8d;
          }
        }
        div {
          font-size: 11px;
          font-family: MuseoSans700;
          margin-top: 9px;
          margin-left: 20px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    ul.tabs {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      li.tab {
        height: 100%;
        border-right: 1px solid #ccc;
        margin-left: -2px;
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
        &.admin {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
        
        div.icon {
        
        }
        div.label {
          text-align: center;
          font-family: MuseoSans700;
          font-size: 11px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    div.arrow {
      position: absolute;
      top: 40px;
      left: 50%;
      .transition(left, .3s, ease);
      &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(245, 245, 245, 0);
        border-top-color: #f5f5f5;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
      }
      &:before {
        border-color: rgba(204, 204, 204, 0);
        border-top-color: #AAA;
        border-width: 13px;
        left: 50%;
        margin-left: -13px;
      }
    }
    div.radial-grad {
      position: absolute;
      width: 100%;
      height: 20px;
      background: @radial-grad;
      top: 43px;
      pointer-events: none;
    }
  }
  div#sidebar-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    div.screen {
      opacity: 0;
      visibility: hidden;
      .transition(opacity, .5s, ease-in-out);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 43px;
      right: -300px;
      overflow: hidden;
      .transition(e('opacity .3s ease, width .3s ease, right .3s ease, left .3s ease'));
      -webkit-overflow-scroll: touch;
    }
    div.slide {
      position: absolute;
      width: 0;
      height: 100%;
      top: 43px;
      overflow: hidden;
      .transition(e('opacity .3s ease, width .3s ease, right .3s ease'));
      -webkit-overflow-scroll: touch;
    }
    div.screen.current, div.slide.current {
      opacity: 1;
      visibility: visible;
      width: 100%;
      right: 0;
    }
    div.media-list {
      .scroll-y();
      /* Hide scrollbars */
      padding-right: 14px;
      margin-right: -14px;
      div.list-info {
        margin: 10px;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: 280px;
      
        > div {
          display: none;
          vertical-align: top;
        }
        div.picture-cell {
          width: 60px;
        }
        div.picture {
          width: 60px;
          .box-shadow(0, 0, 2px, 0px, rgba(0, 0, 0, 0.8));
          background: rgba(0, 0, 0, 0.65);
          .border-radius(3px);
          &:active {
            .box-shadow(0, 1px, 1px, rgba(255,255,255,.2));
          }
          img {
            width: 60px;
            height: 60px;
            border-bottom: 1px solid rgba(204, 204, 204, 0.32);
          }
        }
        div.description {
          font-size: 12px;
          padding-left: 10px;
          color: #181818;
          text-shadow: 1px 1px 1px white;
          font-family: MuseoSans300;
          font-size: 13px;
          a {
            color: #181818;
          }
        }
      }
      div.medias {
        margin: 10px;
        padding-bottom: 5px;
      }
    }
  }
  div.comment-input {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-height: 31px;
    position: absolute;
    bottom: 42px;
    div.comment-controls {
      width: 100%;
      height: 24px;
      border-top: 1px solid #CCC;
      background: rgba(255, 255, 255, .7);
      color: #7D7D7D;
      text-shadow: 1px 1px 1px white;
      top: 27px;
      position: relative;
      .transition(top, .5s, ease);
      div.comment-button {
        width: 100px;
        height: 100%;
        display: inline-block;
        border-right: 1px solid #ccc;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        position: relative;
        &:first-child {
          margin-left: -2px;
        }
        &:last-child {
          border-right: none;
        }
        &.tweet-toggle div.icon {
          .sprite-comment-twitter();
          top: 5px;
          left: 10px;
        }
        &.fb-toggle div.icon {
          .sprite-comment-facebook();
          top: 4px;
          left: 11px;
        }
        .goog-custom-button-inner-box {
          margin-top: 5px;
          text-align: center;
        }
        &.goog-custom-button-checked, &.add-comment {
          background-color: rgba(255,255,255, .8);
        }
        &.goog-custom-button-checked div.check {
          .sprite-check();
        }
        &.goog-custom-button-disabled {
          background: none !important;
          cursor: normal;
        }
        &.add-comment.goog-custom-button-active {
          background: rgba(0, 0, 0, .1);
          color: #6D6D6D;
        }
        div.check {
          position: absolute;
          top: 6px;
          right: 7px;
        }
        div.icon {
          position: absolute;
        }
        div.return {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 4px;
          left: 6px;
          width: 10px;
          font-size: 16px;
          color: #bbb;
        }
      }
    }
    div.input-holder {
      background: #f7f7f7;
      width: 100%;
      height: 100%;
      border-top: 1px solid #ccc;
      .box-shadow(e('0 -2px 2px 0 rgba(0, 0, 0, 0.3), inset 4px -2px 6px -3px rgba(0, 0, 0, 0.4)'));
      position: relative;
      textarea {
        resize:none;
        height: auto;
        .border-radius(3px);
        width: 280px;
        font-size: 13px;
        min-height: 16px;
        outline: none;
        border: 1px solid #CCC;
        resize: none;
        margin-left: 10px;
        margin-top: 9px;
        margin-bottom: 5px;
        font-family: MuseoSans300;
        .select-text();
      }
      div.token {
        position: absolute;
        top: 10px;
        left: 12px;
        background: #dedede;
        color: #333;
        font-size: 13px;
        text-shadow: 1px 1px 1px white;
        .border-radius(3px);
        border: 1px solid #666;
        padding: 1px;
        display: inline;
      }
    }
  }
  div.info.current div.comment-input, div.conversation div.comment-input {
    visibility: visible;
    opacity: 1;
  }
  
  div.tabbed {
    ul.tabs {
      height: 30px;
      width: 100%;
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
      margin: 0;
      border-bottom: 1px solid rgba(112, 108, 108, 0.7);
      li.tab {
        height: 100%;
        border-right: 1px solid #ccc;
        margin-left: -2px;
        display: table-cell;
        vertical-align: middle;
        background: rgba(245, 245, 245, 0.9);
        cursor: pointer;
        &.admin {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
        div.label {
          text-align: center;
          font-family: MuseoSans700;
          font-size: 11px;
          color: #7d7d7d;
          text-shadow: 1px 1px 1px white;
        }
      }
    }
    div.content {
      display: none;
      width: 300px;
    }
    &.activity {
      div.activity {
        display: block;
      }
      ul.tabs li.activity {
        background: rgba(245, 245, 245, 0.6);
      }
    }
    &.starred {
      div.starred {
        display: block;
      }
      ul.tabs li.starred {
        background: rgba(245, 245, 245, 0.6);
      }
    }
    &.comments {
      div.comments-holder {
        display: block;
      }
      ul.tabs li.comments {
        background: rgba(245, 245, 245, 0.6);
      }
    }
    &.tweets {
      div.tweet-holder {
        display: block;
      }
      ul.tabs li.tweets {
        background: rgba(245, 245, 245, 0.6);
      }
    }
  }

  div.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    background: rgba(0, 0, 0, .6);
    .border-radius(6px);
    div.loading-spinner {
      background: @spinner no-repeat center;
      background-size: 50px;
      width: 90px;
      height: 90px;
    }
  }

  div.list-media {
    width: 278px; 
    margin-bottom: 4px;
    .border-radius(3px); 
    position: relative;
    background: rgba(50, 50, 50, 0.9);
    border: 1px solid #333;
    .box-shadow(0, 0, 1px, 0px, rgba(0, 0, 0, 0.8));
    cursor: pointer;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #181818;
    opacity: 0;
    .transition(opacity, .3s, ease-in);
    &.show {
      opacity: 1;
    }
    &.remove {
      opacity: 0;
    }
    &:hover div.media {
      div.preview {
        background: -webkit-linear-gradient(top, black, #aaa);
        background-size: auto 100%;
        div.thumb {
          .transition(e('opacity .3s ease, background-position .3s ease'));
          opacity: .7;
          background-position-y: 40% !important;
        }
        div.title, div.published {
          color: #f7f7f7;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px rgba(0, 0, 0, 0.5),
              1px -1px 1px rgba(0, 0, 0, 0.5), -1px 1px rgba(0, 0, 0, 0.5);
        }
        div.approve, div.remove, div.repos, div.play {
          filter: invert(100%);
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
        }
      }
    }
    &:active {
      .box-shadow(0, 1px, 1px, 1px, rgba(255, 255, 255, 0.5));
      border-color: #666;
    }
    &:last-child:active {
      div.publisher {
        margin-bottom: 4px;
      }
    }
    div.media {
      white-space: normal;
      overflow: hidden;
      vertical-align: middle;
      height: 48px;
      color: #999;
      text-shadow: 1px 1px 1px white;
      margin-top: -1px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      div.preview {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 1px;
        div.thumb {
          width: 100%;
          height: 100%;
          opacity: .2;
          background-size: 150% auto;
          background-position: center;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        div.title {
          left: 5px;
          top: 5px;
          color: #181818;
          text-shadow: 1px 1px 1px white;
          height: 100%;
          font-size: 14px;
          line-height: 20px;
          position: absolute;
          overflow: hidden;
          margin-right: 10px;
          font-family: MuseoSans300;
          &.marquee {
            .transition(margin-left, 10s, linear);
          }
        }
        div.published {
          position: absolute;
          bottom: 3px;
          font-size: 10px;
          color: #181818;
          left: 5px;
        }
        div.approve {
          position: absolute;
          right: 25px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/circle-check.png);
          background-repeat: no-repeat;
          background-position: center;
        }
        div.remove {
          position: absolute;
          right: 5px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/circle-x.png);
          background-repeat: no-repeat;
          background-position: center;
          filter: invert(100%);
        }
        div.repos {
          position: absolute;
          right: 5px;
          bottom: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/circle-repos.png);
          background-repeat: no-repeat;
          background-position: center;
        }
        div.play {
          position: absolute;
          right: 45px;
          top: 3px;
          width: 20px;
          height: 20px;
          background-image: url(/static/img/circle-play.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:hover div.title {
        color: #f5f5f5;
        text-shadow: 0px 0px 4px black;
      }
    }
    div.publisher {
      position: relative;
      top: 3px;
      left: 0px;
      margin-bottom: 4px;
      width: 272px;
      padding: 3px;
      font-family: MuseoSans500;
      img {
        width: 22px;
        height: 22px;
        .border-radius(6px);
        vertical-align: top;
        border: 1px solid transparent;
      }
      div.name {
        font-size: 11px;
        line-height: 3px;
        margin: 0 5px;
        display: inline-block;
      }
      div.duration {
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }
    div.stats {
      position: absolute;
      right: 3px;
      bottom: 7px;
      div.comment-count {
        div.icon {
          .sprite-comment-count();
          position: absolute;
          top: 0;
          left: 0;
        }
        min-width: 15px;
        height: 15px;
        padding-left: 19px;
        font-size: 10px;
        float: right;
        position: relative;
      }
      div.star-count {
        div.icon {
          .sprite-star-count();
          position: absolute;
          top: 0;
          left: 0;
        }
        min-width: 15px;
        height: 15px;
        padding-left: 19px;
        font-size: 10px;
        float: right;
        position: relative;
      }
    }
    div.description, div.duration {
      font-size: 11px;
      margin: 5px;
    }
  }
  div.tweet-holder {
    position: relative;
    width: 300px;
    div.label {
      margin-left: 10px;
    }
    div.tweet {
      position: relative;
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #333;
      padding-bottom: 20px;
      overflow: hidden;
      .box-shadow(0, 0, 2px, 0px, rgba(0, 0, 0, .8));
      
      img {
        width: 28px;
        height: 28px;
        left: 4px;
        top: 4px;
        position: absolute;
        .border-radius(3px);
      }
      div.text {
        a.handle {
          font-family: MuseoSans700;
          font-size: 13px;
        }
        a {
          color: #f5f5f5;
          font-family: MuseoSans300;
        }
        position: relative;
        left: 37px;
        top: 3px;
        font-size: 12px;
        line-height: 16px;
        width: 230px;
      }
      div.timestamp {
        position: absolute;
        bottom: 3px;
        right: 5px;
        font-size: 10px;
      }
    }
    div.dot-nav {
      text-align: center;
      div.dot {
        width: 6px;
        height: 6px;
        .border-radius(6px);
        background: rgba(0, 0, 0, .3);
        display: inline-block;
        margin: 7px 5px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .4);
        &.selected {
          background: rgba(255, 255, 255, .9);
          border-color: rgba(255, 255, 255, .4);
        }
      }
    }
  }
  div.comments-holder {
    position: relative;
    div.comments {
      margin: 10px;
      .transition(max-height, .5s, ease);
    }
    &.top-grad div.top-grad, &.bottom-grad div.bottom-grad {
      display: block;
    }
    div.top-grad {
      display: none;
      width: 282px;
      height: 10px;
      position: absolute;
      top: 20px;
      background: @radial-grad no-repeat center;
      left: 9px;
      border-top: 2px solid rgba(0, 0, 0, 0.5);
      .box-shadow(0, -3px, 3px, -1px, rgba(0, 0,0, .2));
    }
    div.bottom-grad {
      display: none;
      width: 282px;
      height: 10px;
      position: absolute;
      bottom: -1px;
      background: @radial-grad-up no-repeat center;
      left: 9px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      .box-shadow(0, 3px, 3px, -1px, rgba(0, 0,0, .2));
    }
    div.comment {
      position: relative;
      width: 278px;
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #333;
      .box-shadow(e('0 0 2px 0px rgba(0, 0, 0, .8),  0 3px 1px -1px rgba(255, 255, 255, 0.5)'));
      padding-top: 5px;
      padding-bottom: 21px;
      overflow: hidden;
      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .box-shadow(0, 0, 2px, 0px, rgba(0, 0, 0, .8));
      }
      &.reply {
        background: rgba(0, 0, 0, .4);
        border-left: 5px solid #181818;
        width: 274px;
      }
      img {
        width: 28px;
        height: 28px;
        left: 4px;
        top: 7px;
        position: absolute;
        .border-radius(3px);
      }
      div.text {
        a {
          color: #f5f5f5;
          font-family: MuseoSans300;
          &.username {
            font-size: 13px;
          }
        }
        position: relative;
        left: 37px;
        top: 3px;
        font-size: 12px;
        line-height: 16px;
        width: 240px;
      }
      div.timestamp {
        position: absolute;
        bottom: 3px;
        right: 5px;
        font-size: 10px;
      }
      div.comment-options {
        position: absolute;
        height: 9px;
        top: 5px;
        right: 5px;
        visibility: hidden;
        opacity: 0;
        .transition(opacity, .2s, ease);
        background: rgba(0, 0, 0, .8);
        padding: 5px;
        .border-radius(3px);
        border: 1px solid #181818;
        div.remove {
          .sprite-close-light();
          cursor: pointer;
          margin-left: 4px;
          float: right;
        }
        div.reply {
          .sprite-reply();
          cursor: pointer;
          float: right;
          margin-top: -2px;
        }
      }
      &:hover div.comment-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  div.no-comments, div.no-info {
    background: rgba(255,255,255,.2);
    width: 260px;
    border: 1px solid #919191;
    .box-shadow(inset, 0, 0, 2px, 0px, rgba(0, 0, 0, 0.2));
    .border-radius(3px);
    font-size: 12px;
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 1px white;
    padding: 10px;
    margin: 0 10px;
    font-family: MuseoSans500;
    cursor: pointer;
  }
}
