div#sidebar div.stream {
  .scroll-y();
  padding-right: 14px;
  margin-right: -14px;
  padding-top: 10px;
  min-height: 50%;
  width: 100%;
  color: #181818;
  div.spinner {
    width: 100%;
    height: 50px;
    text-align: center;
    background: @spinner no-repeat center 5px;
    line-height: 40px;
    .transition(height, .3s, linear);
    &.finished {
      height: 1px;
      opacity: 0;
      visibility: hidden;
    }
  }
  div.label {
    font-size: 11px;
    color: #888;
    font-family: MuseoSans700;
    margin: 6px 10px;
    text-shadow: 1px 1px 1px rgba(255,255,255,.6);
  }
  div.friendlist {
    margin-top: -9px;
    margin-bottom: 7px;
  }
  div.activity {
    position: relative;
    font-size: 11px;
    margin-bottom: 15px;
    width: 320px;
    opacity: 0;
    .transition(opacity, .3s, ease-in);
    &.show {
      opacity: 1;
    }
    &.digest {
      &.comment div.template {

      }
      div.template {
        left: 10px;
        margin-bottom: 0;
        padding-bottom: 8px;
        width: 300px;
        span {
          font-family: MuseoSans700;
        }
      }
      div.users {
        margin-left: 6px;
        div.picture {
          position: relative;
          display: inline-block;
          margin-left: 4px;
          margin-bottom: 4px;
        }
      }
      div.comment {
        margin-bottom: 3px;
        div.template {
          left: 50px;
          margin-bottom: 10px;
          width: 260px;
        }
      }
      div.medias {
        margin-top: 5px;
      }
    }
    div.picture {
      position: absolute;
      background: #ccc;
      width: 34px;
      height: 34px;
      .border-radius(18px);
      .box-shadow(0px, 0px, 1px, 0, rgba(0, 0, 0, 0.6));
      display: inline-block;
      margin-left: 9px;
      img {
        width: 34px;
        height: 34px;
        .border-radius(17px);
      }
    }
    div.comment {
      div.template {
        margin-bottom: 0;
      }
      div.picture {
        margin-top: 5px;
      }
    }
    div.template {
      position: relative;
      left: 50px;
      top: 0;
      margin-bottom: 25px;
      width: 260px;
      font-family: MuseoSans500;
      div.timestamp {
        font-size: 10px;
        font-family: MuseoSans300;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  div.medias {
    margin: 10px;
  }
  div.no-comments {
    margin-top: 10px;
  }
}
