div#sidebar div.stream {
  overflow-y: scroll !important;
  padding-top: 10px;
  width: 100%;
  color: #181818;
  text-shadow: 1px 1px 1px #f5f5f5;
  div.spinner {
    width: 100%;
    height: 35px;
    text-align: center;
    background: url(/static/img/spinner2.gif) no-repeat center 5px;
    background-size: 50px;
    line-height: 40px;
    .transition(height, .3s, linear);
    &.finished {
      height: 1px;
      opacity: 0;
      visibility: hidden;
    }
  }
  div.activity {
    position: relative;
    font-size: 13px;
    margin-bottom: 15px;
    width: 300px;
    opacity: 0;
    .transition(opacity, .3s, ease-in);
    &.show {
      opacity: 1;
    }
    &.digest {
      &.comment div.text {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      div.text {
        left: 10px;
        margin-bottom: 5px;
        padding-bottom: 8px;
        span {
          font-family: MuseoSans700;
        }
      }
      div.users {
        margin-left: 10px;
        div.picture {
          position: relative;
          display: inline-block;
          margin-left: 4px;
          margin-bottom: 4px;
        }
      }
      div.comment {
        margin-bottom: 3px;
        div.text {
          left: 50px;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }
      div.medias {
        margin-top: 3px; 
      }
    }
    div.picture {
      position: absolute;
      background: #ccc;
      width: 35px;
      height: 34px;
      border-radius: 18px;
      box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, .6);
      display: inline-block;
      margin-left: 9px;
      img {
        width: 31px;
        height: 30px;
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 15px;
      }
    }
    div.text {
      position: relative;
      left: 50px;
      top: 0px;
      min-height: 20px;
      width: 240px;
      padding-bottom: 13px;
      font-family: MuseoSans500;
      a {
        color: #181818;
      }
      div.timestamp {
        font-size: 11px;
        font-family: MuseoSans300;
        position: absolute;
        bottom: 0;
      }
    }
  }
  div.medias {
    margin: 10px; 
  }
}