<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>XYLO Pitch</title>

    <meta name="description" content="XYLO example" />
    <meta name="author" content="Ebby Amir" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body style="position:absolute;top:0;left:0;width:100%;height:100%;margin:0">

  <iframe src="http://www.vice.com" style="width:100%;height:100%;border:none;"></iframe>
  <div style="position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, .7)">
    <iframe src="http://www.xylocast.com/?sc=broken-news&embed=1" style="width:996px;height:600px;position:absolute;top:50%;left:50%;margin-top:-300px;margin-left:-500px;border:1px solid #333"></iframe>
  </div>

</body>
</html>
